[2021-07-19 17:47] ethanaobrien opened #1 "Add all options to UI"
Sorry, this is a lot. I may have missed something (Don't worry about it)

Please add these all to the UI:

Errors:

Custom 400 html: optCustom400 (default: false, boolean)
400 html location: optCustom400location (default: /400.html, string)
Custom 401 html: optCustom401 (default: false, boolean)
401 html location: optCustom401location (default: /401.html, string)
Custom 403 html: optCustom403 (def

[2021-07-21 23:26] ethanaobrien commented on #1
@terreng

Scrap the https and http2 options for now. I'm running into trouble and do not plan to do it in the first release.

Also, could I have a status update?

[2021-07-21 23:42] terreng commented on #1
I see that most of the inputs are either checkboxes or text boxes, but there are a few that I'm not sure what they are or what values would be valid:

optCustom404usevarvar: Is this a text field?
optCacheControlValue: I assume this is a dropdown. What are the valid values?
optIpBlockList: What kind of input is this?

I am a little busy at the moment, but I can get the UI part done once you've fini

[2021-07-21 23:56] ethanaobrien commented on #1
@terreng Very sorry, I didnt think about including that. I updated the initial commit and added either Boolean or string for each option

[2021-07-22 01:58] terreng opened #3 "Name & Logo"
Here's the current name and logo:
![image](https://user-images.githubusercontent.com/11605395/126580527-d31be4b2-4677-425c-9f1a-f667e578e87d.png)

kzahel gave us permission to use the web server for chrome logo:
![image](https://user-images.githubusercontent.com/11605395/126580583-cd3a741f-2bbe-4338-b4ad-9242bde265f9.png)

Do we want to use the web server for chrome logo or a new logo?
I could als

[2021-07-22 12:53] ethanaobrien commented on #3
@terreng In my opinion, I really really like the old web server for chrome logo so here is what I propose.

We use the old logo with the new name "Simple Web Server"

I feel like we need something connecting the 2 things

[2021-07-22 12:58] ethanaobrien commented on #1
@terreng

Sorry, forgot one category of options

Mod Rewrite:
mod-rewrite: optModRewriteEnable (default: false, boolean)
Regular Expression: optModRewriteRegexp (default: `.*\\.[\\d\\w]+$`, string) (Please note, in the default I have replaces \ with \\ so the string works properly when copied and pasted)
Negate Regexp: optModRewriteNegate (default: false, boolean)
Rewrite To: optModRewriteTo (defa

[2021-07-22 16:27] terreng commented on #1
Is the negate regex option necessary? I think this negation be accomplished in the regex itself by using a negative lookahead or something.

For the options that take a file path (like optModRewriteTo), do we need any validation? Or is any string valid?

[2021-07-22 16:33] ethanaobrien commented on #1
I don't really know to be honest, I just just copied from the web server for chrome app.

Also, I think I have a solution to the console problem.
(I would put this comment in the pull request but I do not have access at the moment)
So the problem is that we need a way for developers to view the console log when using server side POST. My solution is to have the server run in the window, instead of

[2021-07-22 16:37] terreng commented on #1
Having the server run in the window is a bad idea.

We can just build our own log viewer into the app.

[2021-07-22 16:40] ethanaobrien commented on #1
I think that is a good idea, the only problem is I'm worried about if the user logs a json string. If we sent the console function to the main process from the window, and then if we re-declared the console function, would the server log to the window?

[2021-07-22 16:45] terreng commented on #1
I'm not really sure what you mean. Could you back up a little bit and explain how logging would work and the purpose of it? I don't think we're on the same page here.

[2021-07-22 16:57] ethanaobrien commented on #1
Yes, sorry. I would like a way for developers to be able to open the console and view logs made by either incoming requests and by debugging server side post/get requests. I would like to find a way to log through the window, without having the app there. Especially with large json strings, it would make it easier to search the logs. If I still doesn't make sense, just let me know.

[2021-07-22 17:33] terreng commented on #1
Are these logs generated by the server code? Is there any way for people to create their own custom logs?

[2021-07-22 17:53] ethanaobrien commented on #1
Some logs are generated by the server code, like when a resource is requested. I think defining server side post with help with the understanding. I built server side post with security as my first priority. When I first got the idea, I discarded it because I thought that hackers would be able to upload a file and perform a post request to it, exposing the entire computer. I then did lots of think

[2021-07-22 18:12] terreng commented on #1
Yes, this is possible.

Do you think that maybe this feature can wait until version 2?

[2021-07-22 18:14] ethanaobrien commented on #1
Sure! Also, I would like to be the one to do this feature. Could you give me some references? I think all that needs to be finished in preparation for version 1 is the Ui. (Should we have an update checker?)

[2021-07-22 18:46] terreng commented on #1
I'm not sure. It makes sense for pushing out future releases, but I also think it would be nice if the program didn't have any telemetry.

[2021-07-22 23:14] ethanaobrien commented on #1
@terreng
I think we should at least have something telling the user if it is outdated. Not doing so could expose the user to bugs/vulnerabilities that have been fixed. We could do something like I have [here](https://github.com/ethanaobrien/youtube-downloader) where it just fetches version.json located in the github repository and then just alerts the user. The full code is below.

[code]

[2021-07-23 05:41] terreng commented on #3
Okay, so we should use the old logo and go with the name Simple Web Server?

How will people discover the app? I know we'll add a thing to web server for chrome telling people about it. Do you think it makes sense to also set up a website or spread the word about it some other ways?

[2021-07-23 05:43] terreng commented on #1
I can implement an auto-updater that checks for and downloads any updates when you open the app.

I think it would be better if the UI showed a banner or something with a button to update, but it was optional.

[2021-07-23 15:29] ethanaobrien commented on #1
I like that Idea, I think we should do it.

[2021-07-23 15:56] ethanaobrien commented on #3
Yes, I think this is how we should do it.

Yeah, I think that is a good idea, Doesn't electron have a place where you can upload an app, or am I wrong?
We could use github.io to host a how to and register it in the google search indexer.

[2021-07-24 16:19] terreng opened #4 "Website"
Single page website design. Menu on left. Sandwich icon on mobile.

Mention not available on Chrome OS. Mention continuation of Web Server for Chrome.

- [x] Remember site meta tags

Home -> GitHub link, Screenshots and description
Download -> Download links, install instructions, changelog, link to build from source docs
Documentation
&bull; Server Options
&bull; App Settings
&bull; Specific feat

[2021-07-24 16:20] terreng opened #5 "Auto-updater"
Make this optional, and ask when first opened before making any network requests.

Add an option to settings "Check for updates"

Show a banner when updates are available. Check a file at simplewebserver.org/versions.json

[2021-07-25 03:56] terreng opened #6 "Tray"
Windows tray / macOS menu bar icon

[2021-07-25 17:27] ethanaobrien opened #7 "https"

[2021-07-25 17:42] ethanaobrien opened #9 "Proxy"
I will do this. I already have some of the code written. This option will ignore ALL other options (Except port and local network)

[2021-07-25 17:48] terreng commented on #3
I'm not so sure that it's accurate to call our app "Simple" if we are going to add so many options.

[2021-07-25 20:53] ethanaobrien commented on #3
That's a really good point, especially with my server side JavaScript and htaccess options. Any ideas?

[2021-07-28 23:30] terreng commented on #1
@ethanaobrien

For `optCustom400location`, `optCustom401location`, `optCustom403location`, and `optCustom404location`: How should these be validated? What I mean by that is, what is the user allowed to type into the text box? What characters are allowed? What will happen if they enter a bunch of random characters like `!@#$%^&*()`?

Could you explain what `optCustom404usevar` and `optCustom404usev

[2021-07-29 00:04] ethanaobrien commented on #1
@terreng
All great questions.

I have multiple failsafe's in place already. Any character will be caught and an incorrect input will also be caught.

optCustom404usevar is a boolean (true or false). Determines if the user wants to send a variable along with the 404 html document. Requires custom404 feature to be enabled
optCustom404usevarvar has no failsafe in place (the client browser would say i

[2021-07-29 00:17] terreng commented on #1
For `optCustom404usevarvar`, does that include spaces and/or capital letters?
Also, I still don't really get what this option does. What is the variable for? What does it contain?

If the only reason we know of to use mod rewrite is for SPAs, then I think we should rename it to "Single page rewrite". If you enable it, then you can change the file it rewrites to. Under that I'll put the advanced op

[2021-07-29 01:05] ethanaobrien commented on #1
@terreng

Also, I still don't really get what this option does. What is the variable for? What does it contain?

Yes, any case, no spaces. This field will be sent with the html. Ill use an example. The server will add the following line to the top of the response `'<script>window.' + this.app.opts.optCustom404usevarvar + ';</script>'`

Yeah, I agree. I havent ever used it (I dont know that kind of

[2021-07-29 01:21] terreng commented on #1
What's the use case for `optCustom404usevarvar`? Why would somebody want that?

I wanted to make sure I understood what every option is supposed to do before I started. I'm going to do other UI improvements to the app too. I want to make it look good. I'm going to follow material design because the original app did and I think it looks nice. So it will take me a little longer to do more design wor

[2021-07-29 16:38] ethanaobrien commented on #1
The reason I put the 404 variable is because it is an easy and efficient way to send the location the user requested. You could also do it via window.location though. I use it because I find it more clean.

Also, thanks for the status update

[2021-07-29 16:55] terreng commented on #1
I still don't understand what it does. Could you clarify?

[2021-07-29 17:03] ethanaobrien commented on #1
Yeah, sorry. If the user requests something like localhost:8887/some/directory and there is a 404 error, then the 404 variable will be '/some/directory'. The user could then use this variable to set the inner HTML of an object to the requested path

[2021-07-29 17:23] terreng commented on #1
Okay, so the 404 variable is injected as javascript into the 404 html page that is returned? And if the user has a custom 404 page, they could read the variable in javascript and insert it onto the page?

[2021-07-29 17:25] ethanaobrien commented on #1
Correct. The variable is only for the custom 404 page and has no effect is custom 404 is not on

[2021-07-29 17:42] terreng commented on #1
Using javascript to insert the path like this is bad practice, because the user could have javascript disabled. Instead, here's what I think we should do: Read the custom 404 html file, look for a custom string the user can specify to be replaced with the path and replace it if found, and then serve it.

For example, I could change `optCustom404location` to point to a file that looks something lik

[2021-07-29 17:56] ethanaobrien commented on #1
Sounds smart, I'll do that

[2021-07-29 18:05] terreng commented on #1
Does the directory listing automatically detect if javascript is disabled and use the static version instead?

The custom replace string option should work for all the error pages, not just 404. But let's just have one option for all of them, not individual options for each.

Also, the replacement string should be able to show up more than once in the file, so make sure to replace all occurrences.

[2021-07-29 18:15] ethanaobrien commented on #1
@terreng

No, do you know how to redirect to `?static=1` when javascript is disabled?

Good idea. I would just need to change like 2 lines of code

Thanks for letting me know

Also, could you add a note telling the user how to use it?

[2021-07-29 18:20] terreng commented on #1
What exactly is javascript needed for on the directory listing?

And yes, I'm going to add an explainer for all of the options and I'll let you know if there are any more that I need clarification on.

[2021-07-29 18:23] ethanaobrien commented on #1
@terreng

Making it look nice, sorting files by name, adding the files to the list, to show or hide parent directory button

There is an option where the user can use static directory listing

[2021-07-29 18:27] terreng commented on #1
The much much better solution would be to have a single directory listing page that works without JavaScript but is better if you have it enabled. Instead of having two different versions, just have one. This is called progressive enhancement.

Load in the static version by default, and then if the script runs, apply the enhancements to the page. That way, if the script doesn't run, the page has a

[2021-07-29 18:34] ethanaobrien commented on #1
@terreng

So I could modify the way the server sends the directory listing to where it would send static but just set the display to none on the template and I could just use javascript to switch what is being shown? Cool!
I'll add this to my pull request. You need to change nothing

I would also like to have an option for users who want the static listing. It wouldn't hurt to have the option

[2021-07-29 18:38] terreng commented on #1
Sure. We can call it "Always use static directory listing"

[2021-07-29 20:42] ethanaobrien commented on #1
@terreng

I have made this into the server.

`optStaticjs`: Boolean, Will send JavaScript directory listing with backup static directory listing
Default: false

I would like this option to be false because the screen flashes when the page initially loads

[2021-07-29 21:03] terreng commented on #1
We should send them both together by default. Don't worry about a flicker, I can fix that.

[2021-07-29 21:09] ethanaobrien commented on #1
@terreng How could you fix the flicker? I dont feel comfortable setting this option to true as default.

[2021-07-29 21:12] terreng commented on #1
Maybe we're not on the same page about how this would work.

The HTML page that is returned should be static and should already have all of the data about the directory listing inside it. Then if the JavaScript loads, you can hide the static container and display the interactive one instead.

The entire page should be served in one HTML file. No need for any other requests to get the script, css,

[2021-07-29 21:46] ethanaobrien commented on #1
No, the JavaScript directory listing makes no additional requests to the server.

This is what I do. The flash is caused on first load by transitioning from displaying the static to the javascript one

I still think this should be false by default. I feel like something like this shouldnt be used very often.

I just pushed my changes. Take a look at #10 This has the static directory listing. Just

[2021-07-29 22:07] terreng commented on #1
I think we should have this on by default. I'm not worried about the flash because I can fix that.

[2021-07-29 22:15] ethanaobrien commented on #1
Okie, just set the default to true

Also, #10 is ready o merge

[2021-07-29 22:22] terreng opened #11 "Replace 404 custom var with injecting path into html"

[2021-07-29 22:27] terreng commented on #1
- [ ] Fix static load flicker and reverse static option
- [ ] #11 - Change 404 var to replace string

[2021-08-01 21:08] terreng opened #13 "EADDRINUSE should be caught (currently fatal)"
`Error: listen EADDRINUSE: address already in use <IP>`

[2021-08-01 21:11] #11 closed

[2021-08-01 21:15] ethanaobrien commented on #13
Try surrounding the server.listen() function with a try and catch(e). It should catch it

[2021-08-01 21:15] ethanaobrien commented on #13
The only problem is putting this error in the UI

[2021-08-01 21:17] terreng commented on #13
I'm thinking that each server should have a state, other than just enabled/disabled.
Possible states:
Disabled
Enabled (starting)
Enabled (errored)
Enabled (running)

[2021-08-01 21:21] terreng commented on #3
I think we can keep the name "Simple Web Server" because even though it has a lot of features, the basics are still very simple, and it does everything it can to make the more advanced features simple too. It's a lot more simple than it would be to setup an Apache server for example.

So I say we go with "Simple Web Server". After all, that's probably what most people would Google search when they

[2021-08-01 21:22] ethanaobrien commented on #3
Yeah, I agree

[2021-08-01 21:23] ethanaobrien commented on #3
Also, I got an email saying that you removed unused dependencies. Which modules did you remove?

[2021-08-01 21:26] terreng commented on #3
`net` and `url` don't need to be installed because they're part of node, so I removed them from package.json

[2021-08-01 21:28] ethanaobrien commented on #3
Oh, I didn't know that. Cool

[2021-08-01 21:29] terreng commented on #3
I just renamed this repo to `simple-web-server`.

[2021-08-01 21:36] ethanaobrien commented on #3
Awesome, should this be closed?

[2021-08-01 21:42] terreng commented on #3
Not yet, I still need to update the logo

[2021-08-01 21:47] ethanaobrien commented on #3
Any progress on the tray icon?

[2021-08-01 21:57] terreng commented on #3
I'm probably going wait to work on the tray until after the first release.

[2021-08-02 00:07] ethanaobrien commented on #13
@terreng How would we send the thing to update the UI

[2021-08-02 00:09] ethanaobrien commented on #4
@terreng Whats this for?

[2021-08-02 00:58] terreng commented on #4
I'm going to build a website for our app. It'll have a description of what it does and screenshots, a download button, and it'll have all of our documentation.

[2021-08-02 01:13] terreng opened #14 "Dark mode UI"
Light, dark, or follow system

[2021-08-02 12:21] ethanaobrien commented on #4
@terreng Sounds Awesome!

I had an idea that for opening the readme's (the htaccess/post/ipblocking) to use the window.open method (From the window) and open an html with the readme, this way there will be no required internet access (In case github is blocked or internet is down)

[2021-08-02 15:50] terreng commented on #4
I'm going to include an explanation for all the options that you'll be able to view by clicking a question mark icon next to each option. Some of the options require longer explanations, so they will link to one of the readmes. I'm actually going to include them using an iframe, but its very similar to what you described.

We should have documentation explaining what all of the options do, what th

[2021-08-04 15:49] terreng opened #18 "Test for permission to serve directories"
- [x] Detect if we don't have permission to read a file or directory at runtime, and serve a 403 error
- [x] Don't serve files outside of selected path (don't allow for /../ in url)

[2021-08-04 17:42] ethanaobrien commented on #18
With the way I built the filesystem, it always combines the input path and the base path. Should we just add an error for when user requests something like
http://localhost:8887/../../somepath

[2021-08-05 12:32] ethanaobrien commented on #18
They shouldn't be able to select a directory that they don't have read
access from, because they need read access to be able to go in and select
it. The web server is also run with the same privileges so the server would
get an unauthorized error. Should I try to handle this error? Is there more
to this that I am missing?

[2021-08-05 16:42] terreng commented on #18
Does Windows already prevent you from picking a directory you don't have access to?
Does the web server already handle read permission by returning a 403?

[2021-08-05 16:49] ethanaobrien commented on #18
Windows does not block selecting the directory, but blocks reading it. The server does not check for read permissions

[2021-08-05 16:53] terreng commented on #18
What happens when the server tries to serve a file it doesn't have permission to read?

[2021-08-05 17:04] ethanaobrien commented on #18
Fs returns an error and then renders the 404 page

[2021-08-05 17:17] terreng commented on #18
Could we add a case for a fs permission error and make that a 403 instead?

[2021-08-05 17:26] ethanaobrien commented on #18
Possibly, I'll take a look at that when I get a chance

[2021-08-07 03:04] #18 closed

[2021-08-08 02:08] ethanaobrien commented on #7
Changed to just https because http2 would not be worth implementing, as to actually use the feature would require re-writing half the server just for http2

[2021-08-08 02:45] terreng commented on #1
Would it be okay if I removed the "opt" part from all of these option names?

[2021-08-08 02:47] ethanaobrien commented on #1
@terreng Sure, although please go into `WSC.js` and `index.js` and use find and replace to replace all

Example:
Find `optScanForHtaccess` and replace with `ScanForHtaccess`

[2021-08-08 03:07] terreng commented on #1
Sure thing! I'm going to lowercase the first character. So `optScanForHtaccess` will become `scanForHtaccess`.
I might also adjust the camel casing a little bit for a few of them to make it consistent.

[2021-08-08 16:39] terreng opened #22 "Consistent response error format"
I think we should use the following standard format for http errors:

Error 404: Not Found
Error 403: Forbidden
Error 500: Internal Server Error

etc.

[2021-08-08 16:40] terreng opened #23 "Move mime types to separate mimetypes.json file"
This should help reduce clutter in WSC.js

[2021-08-08 17:58] ethanaobrien commented on #22
I don't quite get what you mean. Isnt this what I have?

[2021-08-08 18:24] terreng commented on #22
When http errors are returned in the code, they aren't consistently formatted. for example:
[code]

[2021-08-08 23:34] ethanaobrien commented on #22
@terreng Yikes! Thanks for pointing that out

[2021-08-09 17:22] ethanaobrien opened #24 "Releases"
What all platforms are we going to release this on?

I've been doing some testing and we should be able to do everything from linux to macos to windows store apps.

I've been running into a lot of trouble packaging the appx. I packaged it into the appx but I cannot figure out how to sign it.

Your thoughts?

[2021-08-09 17:33] terreng commented on #24
I was thinking we'd do all three: Windows, macOS, and Linux. I've built it for macOS and Windows so far. There are some quirks with the different platforms.

I'll take care of packaging and signing. I was thinking we'd do a standard exe not UWP.

[2021-08-09 17:44] ethanaobrien commented on #24
I think we should do both - all possible platforms. We could also be able to upload our app to the windows store

[2021-08-09 17:44] #7 closed

[2021-08-09 17:44] #22 closed

[2021-08-09 17:44] #23 closed

[2021-08-09 17:48] terreng commented on #24
Windows store will accept traditional exe or msi apps on Windows 11

[2021-08-09 17:59] ethanaobrien commented on #24
@terreng Even today, windows 7 is the most commonly used platform - It will probably be a while before windows 11 is that commonly used.

Check #25 - I have started adding some make config in package.json

[2021-08-09 18:06] terreng commented on #24
We could do windows store and mac app store, but I think we should worry about that later.

Right now we should focus on getting the first version out on our website. Then we can start working on other distribution avenues.

[2021-08-09 20:24] caasi-e opened #26 "Wrong protocol in UI"
With the new 'https' feature the ui always shows 'http' urls

[2021-08-09 20:30] caasi-e commented on #24
I think windows apps are cleaner and easier to install rather than downloading from github and copying a bunch of files from all over the place.

[2021-08-09 20:55] terreng commented on #24
@ethanaobrien is this you?

[2021-08-09 21:43] caasi-e commented on #24
I'm not @ethanaobrien , I can't really do Javascript and you guys are here doing full web servers

[2021-08-09 22:14] ethanaobrien commented on #24
Yeah, thats not me

[2021-08-09 22:14] ethanaobrien commented on #26
Good catch, thanks! I think I made something in the code that should make
it to where we only need to change like 1 line

[2021-08-09 22:44] terreng commented on #24
@caasi-e I saw you created your account less than an hour before posting here. How did you find this project, and why do you follow @ethanaobrien ?

[2021-08-09 23:59] caasi-e commented on #24
I've been using/testing out things that @ethanaobrien has recommended for a while, I made an account today to leave the one comment, and I don't plan to make a habit out of commentating. I follow Ethan because he's a personal friend, good-luck on your project

[2021-08-10 00:22] terreng commented on #24
We'll package it up into an installer program, like most programs do. Users won't have to manually build or install it.

[2021-08-10 04:26] ethanaobrien commented on #24
@terreng Once we do releases, would I be able to package and release a windows store app. I would be willing to pay $20 to create the account

[2021-08-10 05:06] terreng commented on #24
I think we can create a shared account and allow us to both publish releases. But please, let me have a chance to look into packaging and publishing options for all three platforms before we do anything. I'm going to keep working on the new UI for now, and we can come back to this once it's time to release. Sound like a plan?

[2021-08-10 13:28] ethanaobrien commented on #24
Awesome!

[2021-08-15 05:50] terreng opened #28 "Proper realtime logging"
https://github.com/terreng/simple-web-server/issues/25#issuecomment-898999413

[2021-08-15 16:29] ethanaobrien commented on #13
@terreng Just to make sure, did you see that I found where the error is showing up?

[2021-08-15 16:35] ethanaobrien commented on #24
@terreng I'm going to go ahead and say what I've been thinking and then you can tell me what you think

I think we need to put this app out there, In every place we can. The more places/platforms we have it available on, the more it will spread, the larger chance that someone will write one of those articles on it.

I suggest we publish to the microsoft store, and (I'm not familiar with it at all)

[2021-08-15 16:45] terreng commented on #13
Yeah, I just need to make it update the UI

[2021-08-15 16:56] terreng commented on #24
We can publish this a variety of places once it's ready for release. 👍

[2021-08-17 22:25] ethanaobrien commented on #24
@terreng
I've compiled for some (not all) platforms and uploaded them to the folder here. I've tested and they all seem to work

Do you have a macOS you can use to compile .dmg packages?

https://drive.google.com/drive/folders/1MmJYRceI1g1ZLNvANZ3AlnG9KB8GF3_h?usp=sharing

[2021-09-10 02:24] ethanaobrien commented on #1
@terreng Could you give me a status update?

[2021-09-24 22:54] terreng commented on #1
We're not doing `optHttp2Https` right?

[2021-09-24 23:03] terreng commented on #1
What's the point of the "Exclude .html extension" option?

IP blocking seems very advanced, so I don't think I'm going to include those options in the UI (will require manual config editing). Sound good?

[2021-09-24 23:05] terreng commented on #1
Do hidden files show up in the directory listing? (Even if they don't have a (.) dot in front?) I think we should consider changing show dot files to show hidden files. What do you think?

[2021-09-25 00:55] terreng commented on #5
@ethanaobrien Instead of building an auto updater into the program, I think we should instead just check if there is a new version available, and make the user go and download the new version to update. We should make sure the installer replaces an old version if it's already installed. The Windows / macOS store will already take care of automatic updates for us. So we would only have the update c

[2021-09-25 02:55] ethanaobrien commented on #1
@terreng

Only https option, no https2 or http2

To not show the .html extension on html files, when I first made it is seemed sucky but I've grown to really like it

Yes, the IPBlocking is just a boolean input to turn the option on and off and a string input to set the path of the ipblock list. All ipblock is edited in the file, in the ui you just need to put the path to the block list and whethe

[2021-09-25 02:56] ethanaobrien commented on #5
Yes, I agree. I think we should only do this on the manual install version. Are we going to do an exe release that installs to appdata or programdata?

[2021-09-25 15:18] terreng commented on #5
Haven't you already figured out how to make a windows installer? AppData is only for storage files, we should definitely not install program files there.

[2021-09-25 15:21] terreng commented on #1
I don't think the exclude .html extension feature is common enough to need an option in the UI either.

For IP blocking, I was going to leave it out of the UI completely. We can have a guide on how to edit all the settings in the config json file, including advanced settings that aren't in the UI.

Do you want to look in to not showing hidden files in the directory listing?

[2021-09-25 23:23] ethanaobrien commented on #5
Sorry, I meant Program Files. I have figured out how to make one that will publish to the windows store.

[2021-09-25 23:30] ethanaobrien commented on #1
I think not putting every option in the UI takes the 'simple' out of simple web server. It is pretty difficult, especially for people first starting out, to change the settings. I tried walking someone through changing the no html option and it never started working. I recommend making a simple function to render the options, meaning a json string we just add the type, default, etc. to and use thi

[2021-09-25 23:43] terreng commented on #5
I forgot that we'd need a separate apple developer account for the macOS App Store. Nevermind about that.

App data local or roaming?

[2021-09-26 01:07] ethanaobrien commented on #5
`local`. electron stores the save data in the `roaming` folder and the app in the `local` folder

[2021-09-26 01:45] terreng commented on #5
Okay, makes sense, that sounds good.

[2021-11-07 01:49] ethanaobrien opened #37 "websocket support"
simple guide - https://yaler.net/nodejs-websocket-server

The config may be difficult though.

[2021-11-07 02:05] terreng commented on #37
Do you want to work on this? I think we should work on figuring out how this would be implemented first, and maybe save it for version 2.

I will try to be done with the UI by the end of the year.

[2021-11-07 02:11] terreng commented on #3
Seeing as we've decided both a name and a logo, I'm going to close this issue.

**Windows & Linux**
![icon](https://user-images.githubusercontent.com/11605395/140629704-fd8feeba-ea18-4d54-bf2d-9989f94524c0.png)

**macOS**
![macosicon](https://user-images.githubusercontent.com/11605395/140629709-32b88624-5bab-4945-92a7-ba3e9ba4e6c0.png)

[2021-11-07 02:11] #3 closed

[2021-11-07 02:20] ethanaobrien commented on #37
Yeah, I'm planning on saving this for version 2. As at the moment I know nothing about wss servers. I just think this would be cool.

Cool. Thanks for letting me know.

[2021-11-07 02:20] ethanaobrien commented on #3
I really like that, cool

[2021-11-07 02:27] terreng commented on #4
We now have https://simplewebserver.org

[2021-11-07 02:32] terreng commented on #24
@ethanaobrien What platforms do you have to test on? I have both macOS and Windows. Do you have a Linux machine? Windows 7? 10? Let me know.

[2021-11-07 02:56] ethanaobrien commented on #4
that is awesome!

[2021-11-07 02:57] ethanaobrien commented on #24
I have windows. I also have a linux vm, a windows 7 vm, and it would be easy to make a new one if needed. The one thing I do not have is macOS

[2021-11-07 15:13] terreng commented on #24
Okay great. I can fine tune for macOS and Windows a bit. And you can test on Windows and Linux.

[2021-11-14 16:44] gillyspy opened #39 "ssl cert weirdness"
I was unable to get the 1.0 build to work with SSL.  I built from https://github.com/terreng/simple-web-server/commit/9a76b8b90f7bcacb4039576cc9cd359c09e5b45d and still no joy.
I noticed the key/cert info was getting parsed incorrectly from config.json

adding this transformation worked as a band-aid for me: (index.js):
[code]

(i don't think it's the right way to solve this so I didn't create a P

[2021-11-14 17:24] terreng commented on #39
@ethanaobrien Please take a look

[2021-11-14 23:41] ethanaobrien commented on #39
@gillyspy Were there any errors in the console?

[2021-11-15 01:36] terreng commented on #39
Thanks for opening the issue! I assume you were using a custom cert, not an auto-generated one, is that right?

[2021-11-16 21:21] gillyspy commented on #39
Pretty sure I was having the issue with auto generated as well so I tried
my own and then finally resolved to download source and "fix" the issue.  I
think the root issue was the parsing for storage and then parsing for use
is not consistent. Ie you manually put in a key with line break sequence
but then it saves it in config with spaces .. so next time you load it,
it's broken

On Sun, Nov 14, 20

[2021-11-21 19:11] ethanaobrien commented on #39
@gillyspy Is it possible that you would be able to do some debugging to find exactly where the parse error is. I've used ssl on about 5 different machines, 3 windows, 2 linux, and I havent seen this problem at all. I can't fix it unless I can find whats causing it.

Thanks!

[2021-11-21 22:35] terreng commented on #39
@ethanaobrien Please take a look at the code fix provided and see if you can identify what problem that regex is fixing. When parsing, could you just remove the beginning and ending lines and line breaks (all non base64 characters?) so that it works if it's entered different ways into the config file?

[2021-11-22 19:14] ethanaobrien commented on #39
Okie. Ill do some looking into

[2021-12-04 15:47] gillyspy commented on #39
i took a quick look and this might not be a bug so much as it is an enhancement.  The chrome webserver extension that you guys "replaced" allowed keys with a space ` ` as the delimiter but you are using `\r\n`.

The change I gave you will effectively allow both.  What I probably did was copied the key incorrectly -- maybe even from the old config.

[2021-12-04 16:05] terreng commented on #39
@gillyspy Thanks so much for the additional information. We really appreciate you bringing this to our attention.

@ethanaobrien Let's support both space and newline delimiters for certs.

[2021-12-05 01:56] ethanaobrien commented on #39
@terreng So do you want me to just replace all spaces with a newline delimiter, correct?

[2021-12-05 03:23] terreng commented on #39
Yeah, if you think that's the best way to do it.

[2021-12-18 22:18] ethanaobrien commented on #39
@terreng Just added to my pr

[2021-12-18 22:28] terreng commented on #39
Great! Add "Closes #39" to your pr.

Thanks again for your report, gillyspy!

[2021-12-22 01:48] terreng commented on #1
@ethanaobrien Can you explain what the `optIpBlockUndefined` option does? Is this a way of toggling between a block list and an allow list?

[2021-12-22 02:56] terreng commented on #1
@ethanaobrien How does the `optExcludeDotHtml` option work? Does it redirect requests to `/example.html` to `/example`? What if there was already a file at `/example`?

[2021-12-22 03:00] terreng commented on #1
In addition to the option to show hidden & dot files in the directory listing, how about an option to serve hidden & dot files at all? I can definitely see not wanting to make these files accessible, and I think we should even consider making this the default. What do you think?

[2021-12-22 03:18] terreng commented on #1
Seeing as `.htaccess` files aren't actually formatted the same way we are here, I think we should call them something else. How about`.swsaccess`?

Also, I don't think the `optDirListingHtaccess` option is really necessary if we already have an option to hide dot files.

[2021-12-22 22:13] ethanaobrien commented on #1
`optIpBlockUndefined` will block requests with no ip attached to them (Ive had it happen) (true or false)
`optExcludeDotHtml` will yes forward to the url with no `.html` extension. if there is a file at `/example` the html page is rendered, not the file.

This can be easily implemented. We'll do this

Yeah I need to change that

I've thought about changing it before, and I've reached the result no

[2021-12-23 01:01] terreng commented on #1
How can there be a request with no IP?

`.htaccess` is a well defined file format for Apache web servers. Some people who use this program may already have actual `.htaccess` files, so using the same name would conflict. I think we should call it something else to avoid this issue, and prevent confusion about how it is formatted. Do you have any other filename suggestions?

Also, what's the use ca

[2021-12-23 01:40] ethanaobrien commented on #1
I do not know. But I've seen it happen on spam requests. (maybe we should just do this by default)

The filename is `wsc.htaccess` not `.htaccess`. I did this for 2 reasons
1. It isn't technically an htaccess file, so we have a different name (to resolve conflicts) but having the htaccess extension still tells people what the file does
2. For users on chromeos that use this, because chromeos does

[2021-12-23 02:47] terreng commented on #1
It should be a dot file. This app won't be available on Chrome OS, so there's no reason to not start the filename with a period. I think we should call it `.swshtaccess`, but I'm open to other suggestions. Ending the name with `htaccess` tells people what it does, and the `sws` part makes it clear that the format is specific to our program. The text editor you use probably has a a feature replace

[2021-12-23 03:03] terreng commented on #1
Here's a list of all the options, their config file option names, and how I plan on organizing them in the UI. Please let me know if you have any feedback before I move forward in adding all these options to the UI!

<h1 style="color: rgb(0, 0, 0); font-family: Times; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: star

[2021-12-23 16:45] ethanaobrien commented on #1
Sounds like a good idea. I'll start working on the conversion when I get the chance. I think I'm going to just have an option in the code to specify the filename so if (for some reason) we change it in the future it wont take that long.

All the features look good. I need to make it to where it will check for both `.html` and `.htm` files on the exclude `.html` option but that shouldnt take long

[2021-12-23 17:50] terreng commented on #1
I agree, we can just get rid of `htaccessRead`, `htaccessWrite`, and `htaccessDelete`.

[2021-12-26 00:02] #39 closed

[2021-12-26 22:11] terreng commented on #1
@ethanaobrien The `replace` option only takes effect if the `upload` option is enabled, right?

If the `htaccess` option is enabled, it should not be possible to upload/replace/delete any file named `.swshtaccess`. Otherwise it should be possible. Could you make sure this is the case?

[2021-12-26 22:21] terreng commented on #1
@ethanaobrien Should we also add the option for a custom 429 error page?

[2021-12-26 22:40] ethanaobrien commented on #1
Correct

Already implemented

I don't think so. This would just make more requests to the server (429 means too many requests)

I think we at least need 404 and 403. It makes sense to me to have a custom page for something like "not logged in" instead of just saying unauthorized. We dont really need a 400 page. It's your choice but I would recommend having at least a 403 and a 404 page

[2021-12-26 22:48] terreng commented on #1
401 is unauthorized. So should we just have 401, 403, and 404?

[2021-12-26 22:51] ethanaobrien commented on #1
Yes, that would make sense

[2021-12-26 22:54] terreng commented on #1
Okay, I got rid of the `custom400` option.

[2021-12-26 23:00] ethanaobrien commented on #1
@terreng

Should we add a note in the how to or something that if the user wants a custom error page with any error, the user can just edit the settings and set `"custom'+httpcode` to true

[2021-12-26 23:14] terreng commented on #1
Are you saying the code always checks for a custom error path for every error code?

Also, does the code fallback to the default error page if there's no file at the specified path?

[2021-12-26 23:18] ethanaobrien commented on #1
Every time the error function is called yes. This function will see if there is a custom option and if not it will render the default page

Correct

[2021-12-26 23:43] terreng commented on #1
I will add a mention to the docs

[2021-12-26 23:49] ethanaobrien commented on #1
403, 404, 429, 400, 401, 500,

[2021-12-30 22:10] ethanaobrien commented on #24
@terreng Can we delete the `dist` folder. This seems to insanely increase the file size when packing

[2021-12-30 22:19] terreng commented on #24
The folder should be excluded from packaging, not deleted.

[2021-12-30 22:30] terreng opened #42 "Keyboard accessibility / ARIA labels"
Make the program work with screen readers / switch access. Make sure it is possible to change zoom size. Check if gold color meets minimum contrast ratio.

[2021-12-31 01:25] terreng opened #43 "HTTPS documentation"
@ethanaobrien Could you please create some basic documentation on how to set up the HTTPS feature for someone who has never used it before?

Here's a screenshot of what the UI looks like currently.
<img width="417" alt="Screen Shot 2021-12-30 at 5 23 47 PM" src="https://user-images.githubusercontent.com/11605395/147797640-fafc910e-be50-42c2-a445-c90e4ad5700e.png">

Do the auto-generated certs also

[2022-01-03 21:24] ethanaobrien commented on #43
They work on the local network and localhost. Although, since it will say it is not secure because it is a self signed certificate.

Do you want me to comment with the documentation or attempt to put it into the UI?

[2022-01-03 22:00] terreng commented on #43
If you could create a pr to add the documentation as a file, that would be great.

[2022-01-05 05:15] terreng commented on #43
Thanks for the suggestion. I tried it out, but I think I'll leave the cert and key visible even when https is unchecked. I think people might want to change the cert even while https is currently off. I don't think there are enough options in that section for it to look cluttered. So I'll leave it as is, but let me know if you still think I should change it.

[2022-01-05 06:25] terreng opened #45 "Energy usage / Battery life"
I'm wondering if it's possible to run the servers from a separate node process, and kill the electron process when the window isn't visible. I'm not sure how much energy is used to run in the background. Separating it like this would likely make it open slower.

[2022-01-07 18:36] AD1340 opened #46 "dead chrome os/chromium os/cloudready"
omg no more web server on chrom os? chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is ded chrom os is

[2022-01-07 18:38] #46 closed

[2022-01-10 12:48] WebScaffolder opened #47 "put method - how to ?"
var input = document.getElementById("app-logo");
      var file = input.files[0];
      var fd = new FormData();
      fd.append("file", file);
      function responseHandler(e) {
        console.log("readystate change", e);
      }
      var xhr = new XMLHttpRequest();
      xhr.open("PUT", "http://localhost:8080/uploads/logo", true);
      xhr.onreadystatechange = responseHandler;
      xhr.send

[2022-01-10 15:53] ethanaobrien commented on #47
Is cors enabled?

[2022-01-10 20:46] WebScaffolder opened #48 "entry not found"
Hi,

entry not found - after build GitHub source  again with latest source v1.0.1 has no problem but WSC missing from source. Can i have latest stable full source please with WSC so that do some testing with handlers PUT method as it is showing CORS error problem?

[2022-01-10 20:59] ethanaobrien commented on #48
The only copy I have of a stable release is found here
https://drive.google.com/drive/folders/1MmJYRceI1g1ZLNvANZ3AlnG9KB8GF3_h
I only have it built for windows (use the `.zip` file)

[2022-01-10 21:10] terreng commented on #48
The latest source is on the [new-ui branch](https://github.com/terreng/simple-web-server/tree/new-ui). Try building from that.

[2022-01-10 22:31] WebScaffolder commented on #48
Hi terreng,

i had build from new ui but still showing entry not found: /login even after new build or npm start but stable source works fine where WSC folder has been packed. please let me know as still PUT needs OPTION I think.

[2022-01-10 22:37] WebScaffolder commented on #47
Hi Ethan, I did not find any checkbox both from master or new-ui brach. please let know as It needs fix.

[2022-01-10 22:40] ethanaobrien commented on #47
As far as I know, this isn't implemented yet (in the ui). You must enable it you must
1. Go to `%USERPROFILE%\AppData\Roaming\Simple Web Server` (in file explorer)
2. Find the server you want
3. add the option `upload` and set it to `true`
4. close and re-open the server

This is using the current master branch

[2022-01-10 22:49] terreng commented on #47
The `upload` option is in the new UI. It's called "Allow file upload" in the Advanced Rules section.

@ethanaobrien We don't currently have an option for CORS. What did you mean when you asked if cors was enabled?

[2022-01-10 22:51] terreng commented on #48
This issue is related to #47, let's keep the conversation there.

[2022-01-10 22:51] #48 closed

[2022-01-10 22:51] ethanaobrien commented on #47
Do we not? I have it implemented ([line 16](https://github.com/terreng/simple-web-server/blob/9797405c868819a28dda3c6e52c407d4beb2767f/WSC/handlers.js#L16))

[2022-01-10 22:59] terreng commented on #47
I don't think it came up in #1. What does it do?

[2022-01-10 23:02] ethanaobrien commented on #47
@terreng
Oh, sorry. All cors does is set headers that allows websites to perform a request to it when it is outside of the domain (allows cross origin requests)

[2022-01-10 23:03] terreng commented on #47
Does it just set `Access-Control-Allow-Origin` to `*` or what?

[2022-01-10 23:04] ethanaobrien commented on #47
@terreng Correct

[2022-01-10 23:11] terreng commented on #47
I've added the missing CORS option to the [new-ui](https://github.com/terreng/simple-web-server/tree/new-ui) branch.

@WebScaffolder Please try enabling the new CORS option.

[2022-01-10 23:15] WebScaffolder commented on #47
Hi, CORS issue I just found while testing with PUT method for uploading file but as 'Access-Control-Allow-Origin' is a response header I need to build by editing WSC handler.js where it is missing from new ui brach and after/before build it shows entry not found even after SPA enabled.

[2022-01-10 23:16] WebScaffolder commented on #47
ok let me test.

[2022-01-10 23:52] WebScaffolder commented on #47
Hi, I can't test CORS problem from my vue SPA for PUT method while upload as you need to fix 404 - Not Found entry not found: /login First. But I had a test using postman and works like a charm. So only problem now SPA shows Not Found entry. Please let me know for new ui.

[2022-01-10 23:55] ethanaobrien commented on #47
could you post a picture of the code you are using to perform a PUT request. If I am correct (and I am (I wrote the handler)) the `404 - Not Found entry not found: /login` is only given off by a GET request

[2022-01-11 01:02] WebScaffolder commented on #47
Hi,

404 - Not Found entry not found: /login - yes you are right, this problem is with get request with github repository only. Soon i will send you a screenshot.

Note that relese source has no problem with spa but i can not find WSC folder there.

[2022-01-11 01:21] terreng commented on #47
The version 1.0.0 release uses completely different internals to run the web server, and that's why there isn't a WSC folder.

[2022-01-11 02:04] WebScaffolder commented on #47
Hi, Can you then just fix the old repository (where WSC present) for SPA support. Or update PUT method for version 1.0.0 so that as a developer we can use it for file uploading too.

[2022-01-11 02:26] terreng commented on #47
We are not supporting the old version anymore. If there is an issue with the latest source, we'll fix it.

[2022-01-11 03:01] WebScaffolder commented on #47
just update the spa support for latest release I mean for new ui branch and we developer can use it. you already fixed put cors issue. thanks for that. but we developer need SPA support as well.

[2022-01-11 09:17] WebScaffolder commented on #47
Hi, any luck for improving new ui with SPA support as you packed WSC files  might for commercial release but without SPA it is not usable. please let me know.

[2022-01-11 14:27] ethanaobrien commented on #47
@terreng Would it be possible that we need the other spa options? (`optModRewriteNegate` and `optModRewriteTo`)
[line 270](https://github.com/terreng/simple-web-server/blob/9797405c868819a28dda3c6e52c407d4beb2767f/WSC/handlers.js#L270)

[2022-01-11 16:34] terreng commented on #47
@WebScaffolder Could you please clarify what exactly the issue is? Do you have a file at `/index.html`?

[2022-01-11 17:10] WebScaffolder commented on #47
![spa](https://user-images.githubusercontent.com/48052351/148988870-c120a922-531c-4a40-877e-3beaae2f7e06.gif)

hi, here I have attached the problem from new ui....but it dose not happen by release version.

[2022-01-11 17:12] ethanaobrien commented on #47
I think the problem is that we need to add the `optModRewriteNegate` option. Not sure what it does but I'm pretty sure this is it

[2022-01-11 17:19] WebScaffolder commented on #47
optModRewriteNegate - no idea but I did not see any config present either new ui or release 1.0.1, just to clarify to find out the problem.

[2022-01-11 17:22] ethanaobrien commented on #47
@WebScaffolder Would you mind opening google chrome and installing [this chrome extension](https://chrome.google.com/webstore/detail/web-server-for-chrome/ofhbbkphhbklhfoeikjpcbhemlocgigb?hl=en). Then could you set the mod rewrite options to whatever and send a screenshot when it works?

[2022-01-11 17:23] WebScaffolder commented on #47
ok, sure

[2022-01-11 17:33] WebScaffolder commented on #47
I think you are right. enabling negate it works with chrome
![negate](https://user-images.githubusercontent.com/48052351/148992630-75c96bb3-7f2a-4232-9a72-d435dc675755.gif)
 extension

[2022-01-11 17:34] ethanaobrien commented on #47
Awesome, thank you. @terreng What do you think?

[2022-01-11 17:36] WebScaffolder commented on #47
Can you just apply it for new ui branch. I will test and let you know if works.

[2022-01-11 18:57] terreng commented on #47
@WebScaffolder I've fixed the code on the new ui branch. It should work now. Thanks for bringing this to our attention. Please let us know if you have any other trouble, otherwise I'll close this issue.

@ethanaobrien The way the regex is written, it should always be negated. I'm going to add an option to choose which page to rewrite to, called `rewriteTo`.

[2022-01-11 21:04] WebScaffolder commented on #47
it doesn't work with new changes. and i tried to write below code but no luck -

if (this.app.opts.spa) {
            var matches = request.uri.match('.*\\.[\\d\\w]+$')
            var negate = true
            if (matches === null && negate||
                matches !== null && ! negate
               ) {
                console.log("Mod rewrite rule matched", matches, '.*\\.[\\d\\w]+$', this.req

[2022-01-11 21:08] terreng commented on #47
That's the old code. Please use the [latest](https://github.com/terreng/simple-web-server/blob/8f5ea1b5f3a5e9a22d72ee11f2270c0abb6f9859/WSC/handlers.js#L270).

[2022-01-11 21:56] WebScaffolder commented on #47
hi, I tried below code too but no luck -

if (this.app.opts.spa) {
            if (!this.request.uri.match(/.*\.[\d\w]+$/)) {
                console.log("Single page rewrite rule matched", this.request.uri);
                this.rewrite_to = this.app.opts.rewriteTo || "/index.html";
            }
        }

[2022-01-11 22:16] terreng commented on #47
Please confirm that you are no longer running the chrome extension web server. I tested the code and it should work. If not, could you please describe the issue?

[2022-01-11 22:37] WebScaffolder commented on #47
Hi, it works by your given instruction. if any other issue found I will let you know. thanks for your effort and make it more nicer than old extension.

[2022-01-11 22:49] terreng commented on #47
Great, I'm glad you figured it out! Thanks again for letting us know about the issue. We'll be releasing the new version of this app soon, so look out for that. Let us know if you find anything else, thanks!

[2022-01-11 22:49] #47 closed

[2022-01-16 21:22] #43 closed

[2022-01-20 19:48] WebScaffolder opened #50 "suddenly not working and shows directory listing only."
![sudden death](https://user-images.githubusercontent.com/48052351/150411345-2860d54e-c143-40a9-b993-ffffb4518660.gif)

Hi,

Simple web server suddenly not working and shows directory listing instead. Please have a look.

[2022-01-20 20:14] terreng commented on #50
Could you please confirm that the option to automatically show index.html is enabled?

[2022-01-20 22:53] WebScaffolder commented on #50
Hi, it doesn't matter automatically show index.html turned on or off.

[2022-01-20 23:36] terreng commented on #50
@ethanaobrien Could you please take a look at this? Notice how the directory listing page says "Index of /index.html/"

[2022-01-20 23:38] ethanaobrien commented on #50
@terreng
Yep I see that. I'll take a look

[2022-01-20 23:44] WebScaffolder commented on #50
just found if i create **"index": true** on C:\Users\xxx\AppData\Roaming\Simple Web Server\config.js it works. but still do not know i did solve - i did this as i found below

function alldone(results) {
                    if (**this.app.opts.index**) {

[2022-01-20 23:47] ethanaobrien commented on #50
I found the bug, give me a second

[2022-01-20 23:54] WebScaffolder commented on #50
OK

[2022-01-21 00:17] terreng commented on #50
@WebScaffolder Thanks for your help in finding these bugs, we really appreciate it.

[2022-01-21 00:19] #50 closed

[2022-01-21 22:26] terreng opened #52 "Tauri"
I want to look in to possibly using Tauri instead of Electron for a future version. Depends how well it works and how mature it is. Benefit would be much smaller package size and memory overhead.

[2022-01-23 04:03] #1 closed

[2022-01-23 18:04] terreng opened #54 "Languages"
Put all copy into a language file to make translating to more languages easy. Translate website and documentation.

[2022-01-23 18:08] terreng opened #55 "IP changing"
What happens if the local network IP changes while the program is running? This should trigger an event to restart the servers and send a message to the UI with the new IP.

[2022-01-23 18:09] ethanaobrien opened #56 "Accessible on internet / Port mapping"
Ability to route through the router and make available on the internet (via your ip) chrome web server supports this

[2022-01-23 18:27] #26 closed

[2022-01-23 19:28] #13 closed

[2022-01-23 20:50] ethanaobrien commented on #55
@terreng When do you need this done by?

[2022-01-23 21:02] terreng commented on #55
I think we should have this done for the initial release

[2022-01-23 21:05] terreng opened #58 "Built in console viewer"

[2022-01-23 21:23] terreng opened #59 "Blank page"
I'm getting a blank page at `/` with this combination of options.

<img width="427" alt="Screen Shot 2022-01-23 at 4 22 30 PM" src="https://user-images.githubusercontent.com/11605395/150698495-2f45f306-d5cd-4eff-9364-8c76b9b905d5.png">

<img width="768" alt="Screen Shot 2022-01-23 at 4 23 05 PM" src="https://user-images.githubusercontent.com/11605395/150698510-bc85b586-82a9-4b99-b750-b032786d988a.

[2022-01-25 02:55] terreng commented on #24
@ethanaobrien I assume the installer will automatically update a previously installed version?

[2022-01-25 02:57] ethanaobrien commented on #24
I would assume so, but not sure

[2022-01-25 03:02] terreng commented on #24
Could you test to find out? I would assume, just want to check.

By the way, I'm going to route all downloads from the website to the GitHub releases download URL. The download stats are [publicly available through the GitHub API](https://somsubhra.github.io/github-release-stats/?username=terreng&repository=simple-web-server&page=1&per_page=5). I do not want the program to have any kind of analyti

[2022-01-29 03:39] terreng opened #61 "Sync config changes in real time"
Use `fs.watchFile` to detect changes to the config file. Update servers and UI in real time without needing to restart the program.

Perhaps show a banner on the main list / refresh button icon at the top. Click to reload from config file. Essentially just restarts the program. Detect changes to config outside of program.

[2022-01-29 03:40] terreng opened #62 "Reorder servers"
Allow clicking and dragging to reorder servers on the list.

[2022-02-06 21:58] terreng commented on #24
I looked in to code signing, and found that it might not be as straightforward as I thought for an open source project. Code signing and macOS App Store would be $99 from Apple. Looks like Microsoft Store is $19 but also requires us to purchase a code signing cert separately. Looks like Microsoft Store allows any publisher name, but Apple requires a legal name or registered business. I also looked

[2022-02-15 03:34] terreng opened #66 "Included documentation"
Include all documentation in app. Show question mark icons next to each option -> open a modal with a description of the option.

[2022-02-15 14:23] terreng opened #67 "Start on login"
Consider an option to start web servers in the background on login.

[2022-02-21 16:33] WebScaffolder opened #68 "How to android build?"
Hi, is it possible for android apk build and act as an android localhost Web server?

[2022-02-21 16:39] terreng commented on #68
Interesting idea, thanks for the suggestion! If we were able to build for Android, then the program would be able to run on Chromebooks too through the Google Play Store.

What do you think @ethanaobrien? We can build a lightweight web based UI for the app using Cordova, which I am very familiar with. We would have to figure out how to best run a web server in the background on Android, and how to

[2022-02-21 16:46] ethanaobrien commented on #68
It'd be pretty cool, we'd probably only need to re-write the base handler, everything else should theoretically plug in (assuming we can still use the nodejs libraries)

[2022-02-21 17:28] terreng commented on #68
@ethanaobrien I recently tried building the app using Tauri instead of Electron. The UI works great because Tauri uses a web view, but the actual server backend doesn't work because Tauri uses a Rust backend, not Node like Electron does. The advantage to using Rust is that it cuts memory usage in half. Together with using a system web view instead of shipping with Chromium, Tauri app installers ca

[2022-02-21 17:29] ethanaobrien commented on #68
I think it'd be cool to do, and efficient, I just don't know rust so thatd be a setback

[2022-02-21 19:25] terreng commented on #68
I don't know Rust either. I've been playing around with it, and my initial impressions are that it's somewhere in-between C and a language called SML.

I had a go at converting [humanFileSize](https://github.com/terreng/simple-web-server/blob/15a1ef1dd04b582654bf68b6cf7ece2423bce73f/WSC/utils.js#L9) into Rust. Here's what it looks like:
[code]

Obviously there's a learning curve, but it wasn't too

[2022-02-21 19:27] WebScaffolder commented on #68
Hi, do you think this can help -
https://code.janeasystems.com/nodejs-mobile/getting-started-cordova

Do you think node js api can be communicate as below -

const cordova = require('cordova-bridge');

cordova.channel.on('message', function (msg) {
  console.log('[node] received:', msg);
  cordova.channel.send('Replying to this message: ' + msg);
});

**And from cordova index.js**

function channe

[2022-02-21 20:37] terreng commented on #68
@WebScaffolder Thanks for the idea! I believe this might work, however it would greatly increase the app size (from around 5 MB to around 100 MB), and it would run in the JavaScript context which would be problematic for running in the background. I think if we instead ran the web server from the native side, it would be able to run in the background without the UI needing to be loaded.

[2022-02-21 22:26] ethanaobrien commented on #68
Time would be a crunch especially with school and yeah. Once we find a library for http sockets and the filesystem I'd sit down to learn rust. I've been really busy lately so sorry if I havent been as active.

[2022-02-21 22:46] terreng commented on #68
No worries. I will keep looking in to Tauri and Rust.

[2022-02-22 00:28] WebScaffolder commented on #68
meanwhile can we build with cordova, i think just need to lunch app using cordova but need to figure out nodejs in background so that codova can start node js server from config. require('electron') should be remove for app. let me know.

[2022-02-22 00:43] terreng commented on #68
I'm having difficulty understanding what you said. I have no immediate plans to build an Android version of this program using Cordova, but it may be something we pursue in the future.

[2022-02-22 02:52] WebScaffolder commented on #68
Hi, Cordova is not necessary but do you think we can use app, BrowserWindow from electron, lets say I can install [Termux](https://termux.com/) - node environment and run index.js..do you electron's app method work here? There can be a simple solution, lets fix it.

[2022-02-22 13:59] terreng commented on #68
Electron does not support mobile. Also, any solution that would involve the user needing to download Termux cannot be considered simple. There are existing web server apps on the Google Play store, and while none of them have functionality that aligns with the features of Simple Web Server, I'm sure one of them would work in the meantime. That said, I still would like to bring this app to mobile,

[2022-02-22 17:45] WebScaffolder commented on #68
Hi,

Please check below -
https://github.com/warren-bank/Android-NodeJS-Frontend

I can able to run index.js  after removing electron using https://play.google.com/store/apps/details?id=io.tempage.dorynode&hl=en but it's not open source though.

Rust u may use for memory facility and all but java project Android-NodeJS-Frontend can be customize for this project which can save time.

remember neith

[2022-02-22 20:46] terreng commented on #68
The only thing the app needs Node for right now is the web server, which shouldn't be running from the frontend. I don't think finding a way to use Nodejs on Android is going to be an effective approach, for app size and memory usage reasons.

Rust can't provide a node environment, that's true, but the goal is to not use a node environment in the first place.

I have no doubt that it's possible to

[2022-02-23 19:22] ethanaobrien commented on #68
@terreng
I think our main focus should be first the UI. It (in my opinion) is normally the most difficult part in most languages

[2022-02-24 19:10] WebScaffolder commented on #68
As I said UI is ready, just need to connect WSC with it and we can build for Windows with ant and gradle for android.

open source -
https://github.com/warren-bank/Android-NodeJS-Frontend

commercial -
I can able to run index.js after removing electron using https://play.google.com/store/apps/details?id=io.tempage.dorynode&hl=en but it's not open source though.

[2022-02-26 13:27] WebScaffolder commented on #68
And same time think about IOS as well - win, android, ios compitability neceessary for completing this project i hope.

[2022-02-26 20:46] ethanaobrien commented on #68
It is crazy expensive to put an app on the app store

[2022-03-11 22:21] WebScaffolder opened #70 "Spa does not work with service worker when enabled."
Hi,

Spa dose not work with service worker.

Generated service worker's cache file precache-manifest, store spa url with parameter, so reload of any page for SPA, it lost it's own cache link or get mismatch regexp link i think.

Any advice or fix can be appreciable.

[2022-03-16 00:10] ethanaobrien commented on #59
@terreng I just tested, this is not occurring for me

[2022-03-16 00:15] terreng commented on #59
The status code is 301 Moved Permanently.

[2022-03-16 00:16] ethanaobrien commented on #59
Is there a `location` header? Can you comment with the headers you get when this occurs. You can open inspect, go to network, and click on the request. There will be a field that says response headers, click view raw and could you copy and paste the headers here? Thanks!

[2022-03-16 00:25] terreng commented on #59
I'm doing more testing and getting stranger results.

When I turn off all of the options in the basic rules section, nothing loads. It hangs for a long time, and sometimes I get a refused to connect error. However, if I try to access a url for a file that does not exist, I get a not found error just fine. Even though the option is turned off, I get a directory listing at `/`.

When I turn on auto

[2022-03-16 00:30] ethanaobrien commented on #59
Thank you, Ill do some more digging when I can

[2022-03-22 01:26] ethanaobrien commented on #59
@terreng The directory listing is a bug. Ill fix

The problem is you removed send, in the console when trying to render I get the error

[code]

I added this to my pr

The reason the directory listing was rendering was because in the original web server chrome, the auto render index option was required to disable the directory listing, I have changed this.

Also, I've been thinking. If we are goin

[2022-03-22 01:33] terreng commented on #59
@ethanaobrien Great! Thanks for figuring out the problems. I didn't realize we were still using send.

It looks like we're only using send in one place. Do you think you could WSC code to read and serve files instead? That way we could get rid of the send dependency.

I'm not quite sure what you mean by this. Could you clarify? Thanks.

[2022-03-22 01:40] ethanaobrien commented on #59
I plan to, I've been looking into this. Might be a while before its done though (sorry) but I'll work on this when its time)

We are able to have things like server side javascript, since javascript is compiled on runtime this allows us to do this. Most other languages dont do this.

[2022-03-22 01:40] ethanaobrien opened #71 "Minimize app size"
I'm wondering, when packaging, if there is a better way to store the thousands of node dependency files. This would drastically decrease file size and install speed.

Also, an auto updater would be a nice feature rather than just notifying the user

For both these examples, I think we should try to see how the discord desktop app does these things (Its electron based, in the app you can open the c

[2022-03-22 01:56] terreng commented on #59
Ohh. I didn't even think about that. I'm pretty sure it would still be possible though! We could have the JavaScript run inside the webview. It just means that when you enable that feature, your background memory usage would increase a little bit because the webview would have to be kept loaded. Not a big deal though, still a lot better than Electron.

[2022-03-22 01:57] ethanaobrien commented on #59
Ok, awesome!

[2022-03-22 02:00] terreng commented on #71
I don't know of a better way to package node dependencies in an Electron app. Let me know if you find something.

I agree. This is easy to do with Electron, but it requires code signing, which I still haven't figured out. Without code signing, we need the user to download and install the new version themselves.

[2022-03-22 02:04] terreng opened #72 "Remove send dependency"
Would be nice to remove `send` dependency, because it's not necessary.

[2022-03-22 02:05] #55 closed

[2022-03-22 02:13] terreng commented on #59
@ethanaobrien This is mostly fixed, but the original issue is actually still present.

I have the single page rewrite option enabled, to `/index.html`, with everything else disabled.

When loading `/`, it responds with a 301 redirect and empty `location` header.

[2022-03-22 02:14] ethanaobrien commented on #59
Clear your cookies and tell me if this still occurs

[2022-03-22 02:16] terreng commented on #59
I did an empty cache and hard reload. The issue still occurs.

[2022-03-22 02:52] #59 closed

[2022-03-22 02:58] terreng commented on #70
@WebScaffolder This issue might have been fixed by Ethan in #57 or #73. Can you download the latest version and test again? Thanks!

[2022-03-22 03:01] terreng commented on #5
There is room for future improvement here, with code signing. But I'm closing for now.

[2022-03-22 03:01] #5 closed

[2022-03-22 20:34] ethanaobrien opened #74 "Support `Content-Encoding` header (compression)"
Less data is transferred (send dependency will need to be removed first)

for gzip I have found [this](https://www.npmjs.com/package/node-gzip) works

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding

[2022-03-22 20:51] terreng commented on #74
This sounds great! Just make sure to check the `Accept-Encoding` request header to only use encoding with supported browsers.

[2022-03-22 21:35] terreng commented on #4
@ethanaobrien The website is coming along. Take a look at the documentation section and let me know what you think. https://simplewebserver.org/

[2022-03-22 21:42] ethanaobrien commented on #4
Wow I love the look. It's really clean. Keep doing what youre doing it looks good!

[2022-03-24 22:59] ethanaobrien commented on #71
@terreng Ive been doing some digging on other ways to package the app. [ `electron-forge`](https://github.com/electron-userland/electron-forge) seems to be the most heavy of them all. I've found 2 additional packagers they have.

I havent had the ability to test yet, but this is what I've found based on the readme/other sources

[`electron-packager`](https://github.com/electron/electron-packager)

[2022-03-24 23:14] terreng commented on #71
I'm pretty sure I've used all three at some point or another. If I recall correctly, `electron-packager` wasn't as feature complete and it didn't provide a way to change the app icon. This might be different now, I'm not sure.

I believe both forge and builder have auto updater functionality. Although I'm pretty sure you still need code signing to do that either way.

Did you find a build size com

[2022-03-24 23:19] ethanaobrien commented on #71
Looks like they implemented this (https://github.com/electron/electron-packager/issues/1334). And yes, from what I've been looking its more raw then the other 2.

I havent had a chance to test it yet. Ill get that to you when I do

Yes, and yeah thats what I think too, but it is still taking up a crazy amount of space

👍

[2022-03-27 17:58] #72 closed

[2022-03-31 21:44] ethanaobrien commented on #37
@terreng I've been thinking, do you think we should do this? If the user is going to be using something like websockets chances are its going to need a more efficient, production ready (and faster) server. Do you think we should do this feature?

[2022-03-31 22:26] terreng commented on #70
@WebScaffolder Can provide more details / example code? Otherwise I will have to close the issue because I haven't found a problem.

[2022-04-01 01:25] terreng commented on #55
The UI now updates when the ip changes. I've changed the interval to be every 5 seconds because I can't find a reason why this would be a problem.

[2022-04-01 01:50] terreng commented on #74
I've added the HTTP compression option to the UI and the documentation (and renamed the option to `compression`). I made a slight [change to handlers.js](https://github.com/terreng/simple-web-server/pull/65/commits/d6b3c0dd736154464e556ed25ed7a001c866a9fa).

Unfortunately, now that I am trying it out, I'm finding that it's unbearably slow. Even on my machine. Is there any way to speed this up? Oth

[2022-04-01 01:55] ethanaobrien commented on #74
Yeah it is really really slow, theres nothing we can do to speed it up. It's your choice whether we include this feature.

[2022-04-01 02:39] terreng commented on #74
I've removed the option from the UI and documentation, but it's still accessible by manually editing config.json. We can revisit this option later, but I'm closing this issue for now.

[2022-04-01 02:39] #74 closed

[2022-04-01 02:39] terreng commented on #52
Revisit #74

[2022-04-04 18:16] terreng commented on #67
Closing in favor of native solutions. See <a href="https://support.microsoft.com/en-us/windows/add-an-app-to-run-automatically-at-startup-in-windows-10-150da165-dcd9-7230-517b-cf3c295d89dd" target="_blank">Add an app to run automatically at startup in Windows 10</a> or <a href="https://support.apple.com/guide/mac-help/open-items-automatically-when-you-log-in-mh15189/mac" target="_blank">Open items

[2022-04-04 18:16] #67 closed

[2022-04-04 19:05] terreng opened #80 "Listen on IPV6"
Web Server for Chrome had an option called _Listen on IPV6_.

https://www.grouparoo.com/blog/node-js-and-ipv6

[2022-04-04 19:25] terreng commented on #4
@ethanaobrien Please see [Coming from Web Server for Chrome?](https://simplewebserver.org/docs/wsc) and let me know if you have any thoughts.

[2022-04-05 14:47] ethanaobrien commented on #80
from my understanding we would just need to set the host to `::` (that is what web server for chrome does)

[2022-04-05 15:26] ethanaobrien commented on #4
I think [this](https://www.hellotech.com/guide/for/how-to-port-forward) is a pretty good guide, walks you through pretty thoroughly.

Yes, would you like me to have each url as an object with the properties `isIpv4` (true or false) and `address` (the text) or do you just want me to push everything as a string and you have the detection?
Also make sure you follow the instructions [here](https://sup

[2022-04-05 15:36] terreng commented on #4
Thanks for linking that. I'll update the documentation accordingly.

My first thought was to just filter based on the ips themselves, but I think your suggestion is a better idea. Let's have `getIPs()` return an array of address and type pairs, like so: `[["1270.0.1","ipv4"],["1080::8:800:200c:417a","ipv6"]]`

I will have to update the interval on line 230 of index.js and the UI code in order to s

[2022-04-05 15:50] ethanaobrien commented on #4
I just opened a pr.

Found it. You are setting the rel to `shortcut icon`. As [this comment](https://stackoverflow.com/questions/25952907/what-is-the-best-practice-for-creating-a-favicon-on-a-web-site#comment66114603_25961390) states this is only technically supported in ie. Not sure why it is loading for you as nothing seems to be working for me, even when I do the steps you provided

[2022-04-05 18:23] terreng commented on #4
I can assure you that I have set up the favicon properly.

[2022-04-05 19:34] ethanaobrien commented on #4
You saw the part of my comment where I said the method you are using to set the favicon is only supported on IE right?

[2022-04-05 19:56] terreng commented on #4
Please believe me that I know what I'm doing. `<link rel="shortcut icon" href="/favicon.ico">` is supported in all browsers. You might still not be seeing it because of caching.

[2022-04-05 20:33] terreng commented on #80
Added in https://github.com/terreng/simple-web-server/pull/65/commits/0d810d4e46712ea9b1d98fae2ae771a604fb4051

[2022-04-05 20:33] #80 closed

[2022-04-05 20:37] terreng commented on #56
@ethanaobrien What would this option do that isn't already possible by port forwarding?

[2022-04-05 20:38] ethanaobrien commented on #56
Yes, Id like to make it to where the server does the port forwarding for you

[2022-04-05 20:40] terreng commented on #56
Could you help me understand how that would work?

[2022-04-05 20:41] ethanaobrien commented on #56
Most likely we would find a command line exe that we can run it with certain arguments and it will map the port (we would run it from the javascript)

[2022-04-05 20:56] terreng commented on #56
Are you saying its possible to map the port without making changes to router configuration?

[2022-04-05 20:57] ethanaobrien commented on #56
no, not technically without making changes, but it is possible without having to manually make changes

[2022-04-05 20:59] terreng commented on #56
Okay, so this option would make the changes to your router for you?

[2022-04-05 21:10] ethanaobrien commented on #56
correct

[2022-04-05 22:25] ethanaobrien commented on #4
([see this](https://mathiasbynens.be/notes/rel-shortcut-icon))

I am trying on a completely different computer that has never loaded the site and still nothing

[2022-04-06 03:03] terreng commented on #4
It might interest you to know that YouTube and Twitter both use `rel="shortcut icon"`. If you don't believe me, you can go to either site and view page source for yourself.

Just because something isn't in the spec doesn't mean it's not widely supported/used. Browsers tend to have good backwards compatibility for things like this.

Take the `<center>` tag for example. This tag was deprecated with

[2022-04-13 20:17] WebScaffolder opened #85 "Dose not support 32 bit windows?"
Dose not support 32 bit windows? Any plan use builder other than electron? How long?

[2022-04-13 20:18] WebScaffolder commented on #70
Sorry for delay, shortly i will provide video demonstration.

[2022-04-13 20:35] terreng commented on #85
I do not believe there are any limitations preventing building for 32 bit Windows. I will leave this open until I confirm.

[2022-04-13 20:36] terreng commented on #70
That would be great! Please make sure to use the latest version of the new-ui branch.

[2022-04-17 00:48] #4 closed

[2022-04-17 03:06] terreng commented on #56
What did the "also on the Internet" option in Web Server for Chrome do?

[2022-04-17 20:01] ethanaobrien commented on #56
It automatically opened a port on the router

[2022-04-17 20:04] terreng commented on #56
How?

[2022-04-18 15:48] ethanaobrien commented on #56
I dont completely know yet. Ive looked at it but havent tried to replicate it. You can take a look [here](https://github.com/kzahel/web-server-chrome/blob/master/upnp.js)

[2022-04-19 02:52] terreng opened #86 "Properly HTML escape whenever applicable"
I found that the default 404 error page returns the request path directly into the HTML without escaping it. For example, if you try to visit `/<u>test</u>`, you'll get this page:

<img width="354" alt="Screen Shot 2022-04-18 at 10 48 59 PM" src="https://user-images.githubusercontent.com/11605395/163910372-948a467a-a6dd-4030-b847-214e7f0addcb.png">

It's important to HTML escape any strings that a

[2022-04-19 02:56] terreng commented on #86
On line 1239 of handlers.js, it looks like you are injecting filenames into an HTML script tag. Consider how this might break if a filename had an `"` character in it.

[2022-04-19 12:18] ethanaobrien commented on #86
see https://stackoverflow.com/a/35352640/15318223 .  You cant put a `"` into a filename

str.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;")

Wouldnt I need to use replaceAll? replace only replaces the first instance

[2022-04-19 14:37] terreng commented on #86
Yes you can, just not on Windows. Please read that stack overflow answer more closely, and you'll find that it says you can put `"` in filenames on both macOS and Linux, along with `<`, `>`, and `&`.

<img width="128" alt="Screen Shot 2022-04-19 at 10 09 23 AM" src="https://user-images.githubusercontent.com/11605395/164023286-9a37433f-6910-4a60-b1aa-053707b05222.png">

<img width="317" alt="Screen

[2022-04-20 00:24] ethanaobrien commented on #86
I added all the stuff to #83 . Could you test all that stuff with that branch?

[2022-04-20 18:35] terreng commented on #86
No worries. Thanks for taking care of this!

[2022-04-21 16:17] ethanaobrien commented on #86
@terreng

Turns out the template file sets the innerText (not the innerHTML) so there is no need to encode the filename. I have fixed it all.

[2022-04-21 17:20] terreng commented on #86
@ethanaobrien Almost. It still breaks with a `"` in the filename.

<img width="422" alt="Screen Shot 2022-04-21 at 1 20 22 PM" src="https://user-images.githubusercontent.com/11605395/164515927-84d9a0fe-5905-41a1-807b-c859e9611c92.png">

[2022-04-21 20:36] ethanaobrien commented on #86
@terreng Could you send me a screenshot of what it sends when a `"` is in the filename?

[2022-04-21 21:03] terreng opened #87 "Uncaught exception with HTTPS"
I turned on HTTPS for a server and generated a certificate for it. The next time I opened the app, this error came up. The server gets stuck in the "Starting..." state because this error isn't being caught. And the error comes up every time I try to start it. All the settings are on their defaults except for enabling HTTPS and auto generating a certificate.

[code]

We need to figure out what's ca

[2022-04-21 21:04] terreng commented on #86
@ethanaobrien I can still access the file just fine by putting it in the URL, but it shows up as "error" on the file listing page (and clicking it takes me to `\error` which doesn't exist). I attached a screenshot of this to my last message.

[2022-04-21 22:43] ethanaobrien commented on #87
It looks like the error is from within the https module itself.

According to [this](https://github.com/node-apn/node-apn/issues/234) the error should be caught though. Should we open an issue?

[2022-04-21 23:10] terreng commented on #87
I'm pretty sure I tracked down the issue. I think it's because spaces get replaced with `\r\n`, even in the header.

[code]

The issue only happens when you turn on https and generate a new cert, save it, and then restart the app. The next time it opens, it messes up the certificate.

Could you test this and see if you can reproduce the issue?

If you can, could you fix this? Probably just get rid

[2022-04-21 23:36] ethanaobrien commented on #87
Yeah that is probably the problem, Ill take a look

[2022-04-25 00:35] terreng commented on #24
@ethanaobrien Let's release this next month. Sound like a plan?

[2022-04-25 00:58] ethanaobrien commented on #24
Yeah, I get back from vacation in 2 days should be able to fix the https thing then

[2022-04-28 17:43] ethanaobrien opened #88 "spa custom regex expression"
I made a spa app and I now finally realize why you would want to have a custom regex expression.

The current one is `/.*\.[\d\w]+$/` which basically means if the file (it basically pops after the last `/`) has a `.` (dot) and then something after the dot then the spa page will not (since we want it to be null) be rendered. A custom regex would allow the user to only render the spa html with somet

[2022-04-28 18:42] ethanaobrien commented on #86
I think I finally got it done

[2022-04-28 19:07] terreng commented on #86
@ethanaobrien I'm going to be unavailable most likely until May 6th. I encourage you to try to test this yourself if you haven't already. And double check the code for any other places that you might need to double check that it properly handles special characters. I'll take a look once I get the chance.

[2022-05-11 22:01] terreng commented on #88
I understand how the custom regex feature works, as you've described. The reason I think we shouldn't add it is because it doesn't feel "simple". Very few users will need this feature. And those who do may already need more than it can offer, such as wanting to set up multiple different rewrites. This seems like the kind of thing that could instead be a per-directory htaccess-like option.

[2022-05-11 22:37] ethanaobrien commented on #88
That is probably true. Do you want me to add it to the htaccess file? this is kind of already implemented (with the htaccess request versioning feature) or should we just leave it?

[2022-05-11 23:22] terreng commented on #86
@ethanaobrien I'm noticing an "error" file show up in every directory on the directory listing. This appears to be a separate issue, but I'm going to leave it here because I mentioned it already above.

Here's what it looks like on the page

<img width="546" alt="Screen Shot 2022-05-11 at 4 20 31 PM" src="https://user-images.githubusercontent.com/11605395/167962963-5bef19ce-7626-4f39-b4b7-32c1b80e

[2022-05-11 23:22] terreng commented on #88
Let's leave it for now, and revisit it later.

[2022-05-11 23:24] terreng commented on #87
@ethanaobrien You [fixed this in 83](https://github.com/terreng/simple-web-server/pull/83/commits/023a3471b5660f10e9f0ad64c2b270a885424aed), right?

[2022-05-11 23:24] terreng commented on #70
@WebScaffolder Any update on this issue? A video demonstration or any other additional details would be very helpful. Thanks!

[2022-05-12 00:35] ethanaobrien commented on #86
Yes, I'll work on this. I think it is a problem with reading the file, not with html escape or anything
What should the file name be?

[2022-05-12 00:38] terreng commented on #86
The file doesn't exist. It shows up even in empty directories.

[2022-05-12 00:38] ethanaobrien commented on #86
I'll do some digging and let you know what I find

[2022-05-12 00:48] ethanaobrien commented on #86
I found the problem. I have fixed it and am now testing a few more things and then I will push my changes

[2022-05-12 00:50] ethanaobrien commented on #87
Yes

[2022-05-12 00:58] #87 closed

[2022-05-12 02:39] terreng commented on #86
Fantastic. Appears to work as expected now! 👍

[2022-05-12 02:39] #86 closed

[2022-05-12 12:51] WebScaffolder commented on #70
ok let me check.
Jamial Hasan

 
 

    On Tuesday, 22 March 2022, 03:01:59 GMT, Terren ***@***.***> wrote:

@WebScaffolder This issue might have been fixed by Ethan in #57 or #73. Can you download the latest version and test again? Thanks!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-05-13 00:27] ethanaobrien commented on #24
@terreng

I went ahead and opened and issue in the electron forge repository seeing if there was a way to pack all the files, apparently this is implemented!

[This is the link to the documentation](https://electron.github.io/electron-packager/main/interfaces/electronpackager.options.html#asar)

[2022-05-13 00:58] terreng commented on #24
I just switched from electron-forge to electron-builder, which uses asar by default.

[2022-05-13 00:58] ethanaobrien commented on #24
Yeah, I saw, sounds good

[2022-05-13 01:12] terreng commented on #24
I'm currently working on building. So very soon.

[2022-05-13 01:14] ethanaobrien commented on #24
Are we going to put #83 in the first release? We could at least add it to the documentation and have the config needed to be edited manually (or just document it later and release it as a "hidden" feature?)

[2022-05-13 02:40] terreng commented on #24
I'm not going to include it in the initial release.

[2022-05-13 02:49] terreng commented on #85
I can confirm that we will offer a 32-bit Windows version.

[2022-05-13 02:49] #85 closed

[2022-05-13 03:47] terreng opened #89 "Linux build"
I've been having trouble getting the Linux build to work from arm64 Debian Linux. I'll have to look into it later.

- [ ] add linux file paths to logs and config.json pages

[2022-05-17 02:59] #24 closed

[2022-05-20 04:35] terreng commented on #24
@ethanaobrien Good news. It turns out that you actually don't need to sign appx packages for the Microsoft store. I'm working on the submission for the MS store, hopefully it goes through / gets accepted. The direct download from the website / GitHub still won't be signed, but it's less of an issue.

[2022-05-20 19:21] terreng commented on #56
The more I've thought about it, the more I think this isn't a good idea. This web server clearly isn't designed to be used on actual websites, and opening it up to the internet presents a security concern. I think if someone really wants to do this, then they can set up port forwarding through their router manually. I don't think we should add this as an option.

[2022-05-20 23:31] ethanaobrien commented on #24
Awesome! Could you let me know when/if it gets approved?

[2022-05-20 23:36] ethanaobrien commented on #56
Thats understandable and I dont have a problem with this. Do you want to close this or do you think we could have a security warning when enabling? (Sorry I havent been as active the last few weeks, I dont know when I might be more active)

[2022-05-21 00:04] terreng commented on #24
Of course! I'll send the link, and put it on the website.

[2022-05-21 00:05] terreng commented on #56
Let's not provide it as an option, and assume that anyone who sets it up themselves knows what they're doing. So I'll close this issue.

[2022-05-21 00:05] #56 closed

[2022-05-23 18:10] ethanaobrien commented on #24
Awesome!

[2022-05-24 16:58] terreng opened #92 "Migrate from WSC"
Could you please open a new PR on [kzahel/web-server-chrome](https://github.com/kzahel/web-server-chrome) that does the following:

- Add a react UI card (like you already did on #264) that says "Chrome apps are going away! Web Server for Chrome is now a standalone program: https://simplewebserver.org"
  - Make the link text say "https://simplewebserver.org", but have the link actually go to https

[2022-05-24 20:02] ethanaobrien commented on #92
Sounds good. Ill work on this when I get a chance (should be tomorrow but that may change)

[2022-05-28 17:07] terreng commented on #92
@ethanaobrien Would be great if you could do this soon. I'm working on the mac app store version (first submission got rejected), and hoping to have the initial release totally done in the next few days...

[2022-05-28 17:16] ethanaobrien commented on #92
I should be able to do this today. The last time I sat down to do this, I couldn’t figure out the thing with the branches, so I plan to just dust off this other old GitHub account I literally never use and submit the pr there.

[2022-05-28 17:27] terreng commented on #92
You should be able to create a new branch on your own fork of the project. You can then submit a pr from that branch, and the pr will be whatever is different between it and the master branch of the original repo. So you should create the new branch based on the original version of the original repo, before any changes you made for another pr.

[2022-05-28 17:34] ethanaobrien commented on #92
I thought about doing that, but wouldn’t it still merge the 180 commits I have?

[2022-05-28 17:42] terreng commented on #92
Not if you create a separate branch based on an earlier commit before your changes.

[2022-05-28 17:51] ethanaobrien commented on #92
I didn’t know you could do that. Would I just find the last commit made when I cloned it and clone the branch from there?

[2022-05-28 17:53] ethanaobrien commented on #92
Nevermind. I managed to clone it. Thank you! I didn’t know you could do that

[2022-05-28 17:55] terreng commented on #92
On your fork of the repo, you can

1. View the commit history
<img width="175" alt="Screen Shot 2022-05-28 at 10 53 07 AM" src="https://user-images.githubusercontent.com/11605395/170837307-bc776673-bde6-4e71-a751-7e04c52fc647.png">

2. Click the "browse the repository at this point" button the newest commit that wasn't yours
<img width="365" alt="Screen Shot 2022-05-28 at 10 53 25 AM" src="https:/

[2022-05-28 18:21] terreng commented on #52
https://tauri.studio/v1/guides/features/system-tray/

https://github.com/tauri-apps/tauri/discussions/2684

[2022-05-30 02:16] ethanaobrien commented on #92
@terreng https://github.com/kzahel/web-server-chrome/pull/304

[2022-05-30 02:42] terreng commented on #92
Great! Still working on the macOS app store release. Two rejections now. Hopefully I'll work it out soon.

[2022-06-07 00:13] terreng commented on #70
@WebScaffolder Please let me know if you can check this. Simple Web Server is now released on the Microsoft Store, so you can test with the version if you'd like. Thanks!

[2022-06-09 21:58] #92 closed

[2022-06-14 23:21] ethanaobrien commented on #71
We completed this when moving to electron from electron forge

[2022-06-14 23:21] #71 closed

[2022-06-27 02:50] terreng opened #97 "Plugins!"
Plugins would allow anyone to create additional features or customize the behavior of the app. We could have a list of additional plugins on the website. I think a plugins system would strike a nice balance between keeping the app simple, but also letting people take it further if they want additional functionality.

Plugins would consist of a config file and some javascript. The config file would

[2022-06-27 03:10] ethanaobrien commented on #97
That sounds like a really good idea!
I think the snippet of json you have is a really good idea on how to store the data
I have some questions about the feature
1. Would there be a place in the app you can browse and download these plugins or would you need to do so manually?
2. Security. We cant just validate a key if we are transferring files over the internet. Something like how npm does it we

[2022-06-27 03:58] terreng commented on #97
Great questions! And I'm glad you like the idea.

I'm not sure about adding a "plugin store" type of thing into the app, because I'm not sure the best way to handle plugins that other people make, and I think we might run into issues with app store approval if we do that. I think it would be easiest to have them downloadable on the website, and easy to drag and drop into the program. But thanks fo

[2022-06-27 15:59] ethanaobrien commented on #97
Makes sense.

Yes, to make sure the request wasnt intercepted. This is more for if we decide to do the plugin store thing.

Im saying that what if an error is thrown processing the request. Would we be able to respond to it?

The proxy option wouldnt need options like htaccess or choose path or any of the upload/deleting options and it seems really bulky to leave un-needed options in the UI.

Soun

[2022-06-27 18:22] terreng commented on #97
I guess this depends on how exactly we implement it. I believe server side javascript is currently implemented using eval, right? Is it possible to execute a function from a file, and give it access to context like res, req, and opts?

It would be great if you could look in to how plugins would be implemented, and what hooks it makes sense to have.

I see. Let me think about this one.

[2022-06-27 18:44] ethanaobrien commented on #97
Correct

I think the only thing we could really do is what I already have, to surround it with a try/catch block, although it wouldnt be caught if it went into a callback function

Will do. We would probably need at least the following. Let me know if I am missing any

Functions:
`onStart`: will be called when the server is created. Will include the server object
`onRequest`: will be called when a

[2022-06-27 19:21] terreng commented on #97
Good idea with using a preventDefault. Using a try/catch sounds like the best approach.

As for disabling options, I'm thinking about how users would active plugins on servers. I was thinking the plugin's options would show up on every server, but maybe instead the user would specifically enable the plugin on each server. If we did it this way, then it would make more sense for certain options to

[2022-06-27 19:29] ethanaobrien commented on #97
Sounds good!

Another good idea is maybe to also have an option in the json file that tells the app that no other plugins can be enabled while this plugin is in use, because with complicated plugins (like the proxy plugin) additional plugins may break the plugin

[2022-06-30 00:28] ethanaobrien commented on #68
Hey @terreng I was reading in the nodejs os readme, apparently android support is experimental. Do you think we could use this?

It had a link to https://github.com/nodejs/node/blob/HEAD/BUILDING.md#androidandroid-based-devices-eg-firefox-os

[2022-06-30 01:59] ethanaobrien commented on #97
@terreng I have pushed the beta plugin code. Let me know what you think.

Here is a simple plugin that all it does is either override the response and sends something itself or it just adds a test header. You can change which in the `main.js` file

[test-plugin.zip](https://github.com/terreng/simple-web-server/files/9015773/test-plugin.zip)

[2022-06-30 03:18] terreng commented on #97
Looks good! Thanks for the example plugin. Could you make a new draft pr from that branch that closes this issue?

Thanks for working to make the code more modular by moving bookmarks stuff to its own file! However, the change actually breaks the code because `mas_bookmarks` and `addToSecurityScopedBookmarks` are used in `index.js`. Do you think that you could fix that?

When it comes to options,

[2022-07-01 02:55] ethanaobrien commented on #97
I actually have a better idea. If the plugin value was an array this array could be filled with the plugin info along with the config of the plugin. I went ahead and did this because its much cleaner, let me know if you want to change it.

Fixed.

I also changed the thing to use require (do we need to call a bookmark thing for require if its outside the app?)

Let me know how it looks so far.

Als

[2022-07-03 21:32] terreng commented on #45
Closed in favor of #52

[2022-07-03 21:32] #45 closed

[2022-07-03 21:35] terreng commented on #70
@WebScaffolder I'm closing this issue because it has been over 50 days since we heard from you, and I don't have enough information to recreate the issue. Please feel free to comment with more information (such as the video demonstration you mentioned), and I'll reopen the issue.

[2022-07-03 21:35] #70 closed

[2022-07-04 20:15] ethanaobrien commented on #70
@terreng based on the title, this would have been a problem with his code, not with the server

[2022-07-04 20:16] ethanaobrien commented on #97
@terreng if I’m correct I finished all the backend stuff. Let me know if there’s anything more I need to do

[2022-07-04 20:59] terreng commented on #97
Could you now turn the proxy feature into a plugin? This can be a separate repo that you own.

[2022-07-06 02:16] ethanaobrien commented on #97
Will do, one question first.

What should the file that stores the information be called? I set it to `manifest.json` for testing but this can interfere if the plugin uses nodejs (like the proxy plugin). What should the json info file be named?

I also think we should add the ability to import zip files (so the user could download the zip and just import without having to unpack). Maybe [JSZip](ht

[2022-07-06 02:31] terreng commented on #97
How about `plugin.json`?

Yeah, if the user adds a zip file, we can unzip it and add it to the plugins directory.

Here's what I'm thinking for the UI: A place to view the list of installed plugins, add new ones, and remove plugins. On each server, an option to enable/disable each plugin on that server. I'm thinking that each plugin has an options section on every server, with a switch on it to en

[2022-07-06 03:30] ethanaobrien commented on #97
Got it.

per server

I currently have it per server (kind of) I should probably do what you suggested. I have more details in the reply below.

So you're saying to have a separate way to delete the plugin entirely?
This wouldn't be too hard. I would just have the remove plugin function instead delete it from the plugin array and create a new function to remove it from the app data folder (to delet

[2022-07-06 04:00] terreng commented on #97
Here's what I'm thinking. Let me know if you can do this or if you think we should do it differently:

**Installing plugins**

Add a folder to the `/plugins` directory of the app data folder. The plugin folder name doesn't matter. Inside it must have a plugin.json file to be recognized.

Example:
[code]

In the app, installing a plugin through the UI adds a folder to `/plugins`. Uninstalling a plu

[2022-07-06 18:23] ethanaobrien commented on #97
I see, so it’s very similar to what I currently have. I’ll get that done

Any plugins that completely change the way the server behaves. Most, I’m not sure.

I think they could be both ways, in my view most of the things that don’t completely change the server can be done with htaccess so wouldn’t the more complicated things that change the way the server behaves be used here?

Yes, this would be

[2022-07-06 19:15] terreng commented on #97
Do you want to make the htaccess feature a plugin?

Also, is this guide for custom scripts, or something else? https://simplewebserver.org/docs/custom%20request%20handler.html#step-1-create-the-request

I'll add the UI for installing and uninstalling plugins, and changing their options on servers. Could you add the code that scans the `/plugins` directory and populates a global `plugins` variable

[2022-07-06 20:04] ethanaobrien commented on #97
I’d really rather not, the htaccess feature is incredibly embedded and would be a pain to remove.

Yes, that’s is the custom scripts guide.

Will do

it doesn’t really matter, if you would like

[2022-07-06 20:50] terreng commented on #97
If we don't, then the global array of plugin configs needs to add a directory name attribute to each one.

[2022-07-06 21:06] ethanaobrien commented on #97
Ok, yeah I can make it the ID.

[2022-07-08 23:49] ethanaobrien commented on #97
@terreng The proxy plugin is ready! You can view it here - https://github.com/ethanaobrien/web-proxy (note, the web proxy `index.js` file is a standalone version of the web proxy).

Let me know what you think!

[2022-07-10 18:32] terreng commented on #97
I'll add plugins to the UI next week probably.

Also, let's add a few more optional arguments for plugin.json:
- author
- homepage
- license
- description

[2022-07-29 18:28] terreng commented on #97
It's probably going to be another month before I work on this. Just wanted to give you an update.

[2022-08-02 20:39] ethanaobrien commented on #97
All good!

[2022-08-02 21:22] terreng commented on #97
I've had a great experience using the program over the last few months. I'm really happy with what we've built together. 183 people have downloaded it from the Microsoft Store, 90 from the Mac App Store, and approximately 20-40 downloads from GitHub (I don't remember how many of them were me). We have a few 5 star ratings on the Microsoft Store, and one review that says "Great! Works well. Easy to

[2022-08-02 21:33] ethanaobrien commented on #97
Awesome! It is really cool with what we built.

I was thinking, on some computers something like this is a little, heavy (on resources), what do you think about, instead of completely translating the whole app, having like a “mini version” with only the basics written in another language. What do you think about this. I think C# would be a choice we have, but I haven’t ever actually tried it on ma

[2022-08-02 21:49] terreng commented on #97
I agree that the app isn't particularly resource efficient. I think the most notable part of this is the large file size. I like the idea of rewriting the web server code in something closer to the metal.

I've been keeping an eye on a cool new technology called Tauri, which has officially launched version 1.0. Tuari works kinda like Electron, but instead of bundling Chrome and Node, it uses the s

[2022-08-02 22:29] ethanaobrien commented on #97
I think thats a good idea. Would you mind sharing with me a simple demo project and get me the link to the compiler and the docs (if any).

I dont know about re-writing the htaccess and plugins and server side functions. I think we should have a lite mode (like the one I described before) that on first launch it asks if you want to use the lite mode or the electron version and you can switch betwe

[2022-08-02 22:40] terreng commented on #97
You're right that the server side javascript stuff and plugins wouldn't work unless we found a way to execute javascript. The Tauri version of the app would have to give up those features, but I suppose people could still download the Electron version if they want those features.

I haven't messed around much with Tauri yet. [Maybe follow the demo app tutorial](https://tauri.app/v1/guides/getting-

[2022-09-27 14:24] ethanaobrien commented on #58
[eruda](https://github.com/liriliri/eruda) might be a solution

[2022-10-01 09:56] samuelasf opened #101 "upload file"
the file upload is not working. Tried configuring with all tools and tried to upload in more than one navigator

[2022-10-01 14:02] ethanaobrien commented on #101
Could you include a video? What OS are you using? What version are you running?

[2022-10-01 14:21] samuelasf commented on #101
I have from catalina until monterrey. There is no “uploado button”, drag an drop and post does not work. I do not known if I am doing somthing wrong

Enviado do meu iPhone

Em 1 de out. de 2022, à(s) 11:03, ethanaobrien ***@***.***> escreveu:

﻿

Could you include a video? What OS are you using? What version are you running?

—
Reply to this email directly, view it on GitHub<https://github.com/ter

[2022-10-01 14:33] ethanaobrien commented on #101
Chances are you're in the wrong place. Have you clicked the "create server" button?

[2022-10-01 18:48] ethanaobrien commented on #101
Oh sorry, I understand now, the POST request doesn't work like you think it would. The PUT request will upload files, not POST. Post requires additional coding and the documentation is not yet written for it.

[2022-10-01 18:55] samuelasf commented on #101
I promise making a video! If you want, choose ios version

Thanks for your attention

Enviado do meu iPhone

Em 1 de out. de 2022, à(s) 11:34, ethanaobrien ***@***.***> escreveu:

﻿

Chances are you're in the wrong place. Have you clicked the "create server" button?

—
Reply to this email directly, view it on GitHub<https://github.com/terreng/simple-web-server/issues/101#issuecomment-1264383148>,

[2022-10-02 00:25] ethanaobrien commented on #97
Hello, I finally got a chance to sit down and look into building a simple rust server today and it has proven to be very difficult. When compiling I kept getting an openssl utils compile error and everything I found online was all for Linux systems. Because of this I'm not sure how easy it would be to make it cross platform. What do you think @terreng ?

[2022-10-02 00:46] terreng commented on #97
Do you want to share your code and the error with me? I have a feeling that this won't be too difficult to sort out. If you want, I can have a go at building a basic Rust prototype.

Very cool that you've written a web server in C#! However, the reason we should use Rust is because it's what Tauri primarily supports, and we need Tauri in order to copy over the existing user interface.

I don't thi

[2022-10-02 00:52] ethanaobrien commented on #97
Here is what I have so far:
[rust server.zip](https://github.com/terreng/simple-web-server/files/9691448/rust.server.zip)

The error I get is `failed to run custom build command for 'openssl-sys-extras v0.7.14'` when compiling on windows

We might want to keep other languages as a possibility just in case something doesnt work, but hopefully Tauri works for what we need it to

[2022-10-03 12:27] samuelasf commented on #101
https://www.dropbox.com/s/nz3h5gy545f8qz2/screen.mov?dl=0

Em 1 de out. de 2022, à(s) 15:48, ethanaobrien ***@***.******@***.***>> escreveu:

Oh sorry, I understand now, the POST request doesn't work like you think it would. The PUT request will upload files, not POST. Post requires additional coding and the documentation is not yet written for it.

—
Reply to this email directly, view it on GitHu

[2022-10-03 12:28] samuelasf commented on #101
Anexo disponível até 2 de nov. de 2022

Em 1 de out. de 2022, à(s) 15:48, ethanaobrien ***@***.******@***.***>> escreveu:

Clique para Baixar<https://www.icloud.com/attachment/?u=https%3A%2F%2Fcvws.icloud-content.com%2FB%2FAZ_Fl3GsjWWSIfvXoxyNLk3DzPa8AZfS_VXy87htrYu6lVRNBIYT8jOI%2F%24%7Bf%7D%3Fo%3DAuvwi4DHkRFHjBghoyD9R1F9eeQW0COCvBIav24qMesO%26v%3D1%26x%3D3%26a%3DCAogRM8RIKm1mLM72gVpEpAyTdmIRaQzEn

[2022-10-03 20:00] ethanaobrien commented on #101
I'll take a look at this, thank you

[2022-10-11 07:43] WebScaffolder commented on #68
Hi,
 Thanks for that. I would let you know my thoughts soon later by asking one question -
Can we not develop whole project using Cordova 7 ? - which have all platform build support now.

Cordova Windows 7.0.0 Released! - Apache Cordova

|
|
|  |
Cordova Windows 7.0.0 Released! - Apache Cordova

We are happy to announce that we have just released Cordova Windows 7.0.0! This is one of Cordova's sup

[2022-10-11 13:35] terreng commented on #68
I am very familiar with Cordova. Unfortunately it doesn't solve the issue here. Simple Web Server is made up of two parts: the web-based user interface, and the web server code. Cordova would make it easy to run the user interface on Android or iOS, but it that's only half of the app. The other half, the actual web server code, currently runs with Node.js, and can't be ported as easily.

[2022-10-15 15:31] ethanaobrien commented on #4
Hey @terreng I have a quick question not relating to the development of this project. What service do you use to host the website itself? Do you use something like netlify or heroku or something else entirely?

[2022-10-15 15:47] terreng commented on #4
I'm using Cloudflare Pages to host the website. It's static hosting but it supports running a build script first. Pretty sure GitHub Pages can do that now too.

When all you need is basic static hosting, options like Cloudflare Pages, GitHub Pages, or Firebase Hosting are good (among others I'm sure). Static hosting means it's just serving a set list of files / directories.

Heroku isn't the best

[2022-10-15 15:49] ethanaobrien commented on #4
Nope, that's all the information I needed. Thank you!

[2022-11-04 15:29] dougouverson commented on #61
It would be nice if when I save a file that the browser would auto-refresh.

[2022-11-04 15:32] ethanaobrien commented on #61
That couldn't be supported. The file would need to have javascript code thrown into it and keep a socket connection open with the server to know when to refresh. This issue is about the config file for the server settings, to refresh the app settings when the app settings are changed

[2022-11-04 15:45] terreng opened #106 "Refresh page when source file changes"
Use `fs.watchFile` to detect changes to served files. Inject JavaScript code into all served HTML pages that hold a socket connection open (Use Socket.IO? HTTP long polling?), gets notified any time the page is updated, and responds by reloading the page. Optional feature.

Suggested by @dougouverson

[2022-11-04 15:46] terreng commented on #61
Thanks for the suggestion! This could be possible, but it would require injecting some additional code into the page, and would only work with .html files. I know that some JavaScript frameworks take this approach already, and it would certainly be handy to have the page update whenever you make a change. We'll consider adding this as an optional feature in a future release.

I went ahead and park

[2022-11-04 15:48] ethanaobrien commented on #106
socket.io is going to be the most easy and efficient way to do it

[2022-11-11 08:05] Hollow-Onion opened #107 "Web server crashes in big directory"
Hi,

I was using web-server-for-chrome on a couple of my projects and was looking to migrate them over to simple-web-server instead to prevent future conflicts, however the server always seems to crash if there are a lot of files in the directory it is trying to display.

For context: we are a small radio station that generates XML-Files for every hour of content we stream and I had built a small

[2022-11-11 13:11] ethanaobrien commented on #107
We'll probably need to have like 100 files per page, and have a next button at the bottom. @Hollow-Onion how do you feel about that?

[2022-11-11 13:16] Hollow-Onion commented on #107
As long as it I could still fetch the files with http://{IP Adress}:{Port}/{filename} that would work for me. Thank you for your quick response, you're doing amazing work.

[2022-11-11 14:30] terreng commented on #107
@Hollow-Onion Thanks for bringing our attention to this issue! It's cool to hear how you intend to use the program.

@ethanaobrien Have you been able to reproduce this issue to confirm that it's a matter of having too large a number of files?

[2022-11-11 17:24] ethanaobrien commented on #107
No I haven't, but it makes sense having a string that large is going to have problems

[2022-11-11 19:44] terreng commented on #107
That's a good hypothesis. The first thing you need to do is confirm that hypothesis by reproducing the issue with a large number of files. Only then, once you have confirmed the problem, can you start to fix it. If you don't do this first, then you'd have no way of measuring if your fix actually resolved the problem. Make sense? So start by reproducing the issue, and then make sure your fix makes

[2022-11-11 19:49] ethanaobrien commented on #107
Yeah, that is planned. I do also need to do what I suggested because it made me think of another big problem - over a certain file size some browsers will refuse to parse the html file, so even if the large strings server side aren't the problem, they can be a problem client side

[2022-11-11 20:33] terreng commented on #107
We know the problem in this case is server-side because the program locks up or crashes. I don't know of any browsers that have a set limit on html file size.

[2022-11-11 20:36] ethanaobrien commented on #107
It still wouldn't be a bad idea to break up large amounts of files into multiple pages. I've had large html files that don't render or run any scripts because it's too big. I will debug this and fix the problem and possibly do this, like maybe 500 files per page

[2022-11-11 20:55] terreng commented on #107
Paging makes sense, just from a usability perspective. Sounds good. I just want to make sure we fix the actual issue.

[2022-11-11 21:30] ethanaobrien commented on #107
Hey @terreng could you test this? I made a directory with 1000000 text files and couldn't get the web server to stop responding. The problem for me was all server side, it has a 2 second download time and didn't ever render

[2022-11-11 21:38] terreng commented on #107
Hmm. I'm on a Mac, so if it has to do with something about the filesystem when there are so many files, my testing might not be representative.

[2022-11-11 21:39] terreng commented on #107
@Hollow-Onion Would it be possible for you to provide a ZIP file of all of the files in the directory? _**Please feel free to say no.**_ If you are completely willing to share, then let us know and I will provide a way for you to send it to us directly instead of posting publicly on GitHub.

If not, then could you do a little bit of testing for us? Could you make a new directory with a much smalle

[2022-11-14 06:59] Hollow-Onion commented on #107
@terreng I don't mind providing you with a zip of the files, just not publicly on GitHub. I just ask that you delete them after testing is complete. I'll have them ready, just tell me where I should send them to you. Thank you!

[2022-11-15 09:04] Hollow-Onion commented on #107
I just shared the files over Dropbox, hope that helps!

[2022-11-15 21:55] terreng commented on #107
@Hollow-Onion Thank you very much! Hopefully we'll be able to recreate the issue, and then fix it as soon as possible.

@ethanaobrien I just emailed you a link to the ZIP file. Could you please test again with those files, and see if you can recreate the issue?

[2022-11-15 22:34] ethanaobrien commented on #107
@terreng I never received an email? Which address did you send it to?

You can email me at either ethan.a.obrien@gmail.com or emulatorjs.ethanaobrien@gmail.com  I check both of these emails equally

[2022-11-15 22:38] terreng commented on #107
I just forwarded it to that address. If you still don't see it, check spam.

[2022-11-29 00:11] terreng commented on #107
@ethanaobrien Just wanted to see if you've had a chance to look at this

[2022-11-29 04:01] ethanaobrien commented on #107
Sorry, I haven't had a chance yet to look at this

[2022-11-30 05:32] terreng commented on #52
@ethanaobrien I've reached the conclusion that Tauri simply isn't ready for our project yet. It's missing a few features we need, so we'll have to wait for them to be added. They've also suggested that other programming languages may be supported in the future, including Python, so it seems better to wait and see what happens before rewriting the program in Rust. I'll revisit this, maybe in a year

[2022-11-30 05:39] terreng commented on #97
@ethanaobrien I'm planning to work on building the UI for plugins in December - January. I'm also planning to add a dark mode UI #14, the ability to reorder servers #62, and help icons / documentation #66. This will also close this issue as well as #9. It'll be version 1.2.

Just to confirm, you've tested the [proxy plugin](https://github.com/ethanaobrien/web-proxy) and everything works, right? Is

[2022-11-30 05:39] terreng commented on #97
Would be great if we could also get fixes for #101 and #107 into version 1.2.

[2022-11-30 05:40] ethanaobrien commented on #52
Sounds good,

You're not suggesting we use python, are you? Python is much, much slower than javascript. I found a video on a speed comparison [here](https://youtu.be/LrufJHhhtPg?t=396) (and the guy actually uses nodejs)

[2022-11-30 05:42] ethanaobrien commented on #97
The only thing I have left to do is the ability to import zips

I should be able to look at these this week. Sorry for the delay

[2022-11-30 15:10] terreng commented on #52
I wasn't thinking about it in terms of speed, although that's certainly important. The Tauri website mentions "Go, Nim, Python, C++." C++ might be a better choice.

[2022-11-30 15:14] ethanaobrien commented on #52
I completely agree. It's not too big in size at all and about as efficient as you can get. Although most of the apis are different per system. Would this be a problem?

[2022-11-30 16:21] terreng commented on #97
You mean for the program? Or for the plugin?

[2022-11-30 16:22] terreng commented on #52
I'm not sure because support for these languages hasn't been released yet. We'll just have to wait and see.

[2022-11-30 16:22] ethanaobrien commented on #97
To import plugins from a zip file. Sorry for the misunderstanding

[2022-11-30 16:25] terreng commented on #97
This would just be unzipping the file and copying its contents to the plugins directory, right? I'm assuming we'll trigger that if you pick a zip file when adding a plugin in the UI.

[2022-11-30 16:25] ethanaobrien commented on #97
Correct. On both statements

[2022-11-30 16:33] terreng commented on #97
Okay sounds good. Could you make a PR that adds a function which takes in the path to a zip file and takes care of adding it?

Also, could you add a function that scans the plugin directory and returns an array of all the plugin configs?

As for the proxy plugin, is everything in the repo just for the plugin? It looked like a lot of files, so I wanted to check. If not, could you make a new repo ju

[2022-11-30 16:38] ethanaobrien commented on #97
I can do that

I already have `getInstalledPlugins` which returns an array of the installed plugins and then `getPluginInfo` which will get you the manifest. Do you want me to combine these?

Its actually a standalone app, with plugin compatibility. Yes everything in there is just for the proxy server. If you'd like me to make another repo, I could do so, but that would basically be the same thing

[2022-11-30 17:09] terreng commented on #97
Oh perfect! No need to combine, that's already great.

I think it would be better if you made it a separate repo with only the plugin, and included documentation.